<form name="" action="" method="POST">
  <div class="form-group">
    <label for="username">Nombre de usuario</label>
    <span class='details'>{{ user.username }}
  </div>
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <span class='details'>{{ user.email }}</span>
  </div>
  <div class="form-group">
    <label for="newpwd">Nueva contraseña</label>
    <input id="newpwd" name="newpwd" type="password" class="form_input" value="" v-model="newpwd">
  </div>
  <div class="form-group">
    <label for="pwdconfirm">Repetir contraseña</label>
    <input id="pwdconfirm" name="pwdconfirm" type="password" class="form_input" value="" :disabled="!newpwd">
  </div>
  <div class='form-group'>
    <button type="submit" class='button button-fat'>Guardar</button>
  </div>
</form>
