{# Included in the scope of user.twig #}

<div id="settings" class="info-group">
  <div class="form-wrap">
    <form name="" action="" method="POST">
      <div class="form-field validated disabled" fieldname="Nombre de usuario">
        <input disabled required value="{{ target_user.username }}">
        <i class="fas fa-user"></i>
      </div>
      <div class="form-field validated disabled" fieldname="Correo electr칩nico">
        <input disabled required value="{{ target_user.email }}">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="form-field validated" fieldname="Contrase침a actual">
        <input required id="oldpwd" name="oldpwd" type="password" class="form_input" value="">
        <i class="fas fa-key"></i>
      </div>
      <div class="form-field validated" fieldname="Nueva contrase침a">
        <input required id="newpwd" name="newpwd" type="password" class="form_input" value="">
        <i class="fas fa-key"></i>
      </div>
      <div class="form-field validated" fieldname="Repetir contrase침a">
        <input required id="pwdconfirm" name="pwdconfirm" type="password" class="form_input" value="">
        <i class="fas fa-key"></i>
      </div>

      <button type="submit" class='button button-fat'>Guardar</button>
    </form>
  </div>
</div>
