{# Included in the scope of user.twig #}

<div id="settings" class="info-group">
  <div class="form-wrap">
    <form id="settings-form" action="" method="POST">
      <div class="form-field validated disabled" fieldname="Nombre de usuario">
        <input disabled required value="{{ target_user.username }}" autocomplete="off">
        <i class="fas fa-user"></i>
      </div>
      <div class="form-field validated disabled" fieldname="Correo electr칩nico">
        <input disabled required value="{{ target_user.email }}" autocomplete="off">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="form-field validated" fieldname="Contrase침a actual">
        <input required name="password-old" type="password" class="form_input" value="" autocomplete="off">
        <i class="fas fa-key"></i>
      </div>
      <div class="form-field validated" fieldname="Nueva contrase침a">
        <input required name="password-new" type="password" class="form_input" value="" autocomplete="off">
        <i class="fas fa-key"></i>
      </div>
      <div class="form-field validated" fieldname="Repetir contrase침a">
        <input required name="password-confirmation" type="password" class="form_input" value="" autocomplete="off">
        <i class="fas fa-key"></i>
      </div>

      <button type="submit" class='button button-fat'>Guardar</button>
    </form>
  </div>
</div>
