{% extends "panel/panel_base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}General{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Visión General
      </h1>
      <ol class="breadcrumb">
        <li><a href="/panel"><i class="fa fa-dashboard"></i> Panel de Moderador</a></li>
        <li class="active">Visión General</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Panel de Moderador</h3>

        </div>
        <div class="box-body">
          ¡Bienvenido al panel de moderador! No tiene mucho de momento, pero las cosas interesantes están a la izquierda.
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>
{% endblock %}
