{% extends "panel/panel_base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}General{% endblock %}

{% block panel_content %}
<div>
  Hello desde el panel de moderación.
</div>
{% endblock %}
