{% extends "overview/overview.twig" %}

{% block overview_content %}
<h1>Visión General</h1>
<h2>Comentarios</h2>
<div id="comments-container" class="comments-container">
  <div id="comments-navigation-list" class="navigation-list no-scroll-bar">
    <div @click='setCommentType("episodes")' class="navigation-item" :class='{"selected": this.commentType === "episodes"}'>EPISODIOS</div>
    <div @click='setCommentType("subtitles")' class="navigation-item" :class='{"selected": this.commentType === "subtitles"}'>TRADUCCIONES</div>
  </div>

  <div @click="refresh" class="reload"><i class="fas fa-sync-alt" aria-hidden="true"></i> Refrescar</div>

  <div class="no-comments" v-if="this.firstLoad">Cargando...</div>
  <div class="no-comments" v-else-if="comments.length == 0">No hay nada aquí ahora mismo</div>
  <div v-else id="comment-list">
    <comment v-for="comment in comments"
      :key="comment.id"
      :id="comment.id"
      :user="comment.user"
      :base-text="comment.text"
      :episode="comment.episode"
      :subtitle="comment.subtitle"
      :published-at="comment.published_at"
      :edited-at="comment.edited_at"
      :pinned="comment.pinned"
      @remove="remove"
      @pin="pin"
      @save="save"
    >
    </comment>
  </div>

  <div class="pages">
    <div class="page-group" :class='{"invisible": page <= 1}'>
      <button @click='firstPage' class="page"><i class="fas fa-step-backward"></i></button>
      <button class="page" @click='prevPage'><i class="fas fa-chevron-left"></i></button>
    </div>
    <button class="page" @click='nextPage' :class='{"invisible": nextPageInvisible}'><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
{% endblock %}
