@keyframes fade_in {
  from {
    opacity: 0;
  }
}

.bounce-in {
  animation: bounce_in 0.5s ease-in 0.05s;
}

.bounce-out {
  animation: bounce_out 0.4s ease-out 0.05s;
}

@keyframes bounce_in {
  0% {
    transform: translateY(-50px);
  }
  5% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce_out {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
    padding-top: 20px;
  }
  50% {
    transform: translateY(0);
    padding-top: 10px;
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
