@import "normalize.css";
@import "browser_specific.css";
@import "hint.css";
@import "effects.css";

* {
  font-weight: 400;
}

:root {
  --color-bg: #eeeff8;
  --color-gray-divisions: #d7d7d7;
  --color-gray-divisions-lighter: #efeeee;
  --color-offwhite: #fdfdfe;
  --color-white: #ffffff;
  --color-black: #383838;
  --color-gray-a: #555555;
  --color-gray-b: #707070;
  --color-gray-c: #abacae;
  --color-gray-d: #e3e4ec;
  --color-blue-a: #6075cd;
  --color-blue-b: #7d91e9;
  --color-blue-c: #a6b4f4;
  --color-green: #47b66e;
  --color-yellow: #f8cb5f;
  --color-yellow-darker: #eabf27;
  --color-red: #ef7868;
  --max-width: 1200px;
  --round-button-input-padding: 10px 20px;
}

/* Prevent a white border by the bottom */
html {
  background-color: var(--color-bg);
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--color-bg);
  font-family: "Rubik", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  background: transparent;
}

button,
input {
  border: none;
  appearance: none;
  outline: none;
}

input {
  background-color: var(--color-offwhite);
}

a {
  color: unset;
  text-decoration: none !important;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a:hover,
a:active {
  color: var(--color-blue-a) !important;
}

.hidden {
  display: none;
}

a.light:hover {
  color: var(--color-blue-b) !important;
}

a.light:active {
  color: var(--color-blue-a) !important;
}

.text.light {
  color: var(--color-offwhite) !important;
}

.text.thin {
  font-weight: 300 !important;
}

.text.bold {
  font-weight: 500 !important;
}

.text.tiny {
  font-size: 0.8rem !important;
}

.text.small {
  font-size: 0.9rem !important;
}

h1 {
  font-size: 1.7rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.3rem !important;
}

.w-shadow-box {
  -webkit-box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.15);
}

.text.spaced {
  letter-spacing: 0.5px;
}

.text.spaced-wide {
  letter-spacing: 1px;
}

header {
  width: calc(100% - 25px * 2);
  padding: 25px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-gray-divisions);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 2;
}

#header-logo-wrap {
  color: var(--color-blue-a);
  display: flex;
  align-items: center;
  user-select: none;
}

#logo-miniature {
  fill-rule: evenodd;
  fill: var(--color-blue-a);
  margin-right: 15px;
}

#logo-text {
  font-size: 1.8rem;
  color: var(--color-blue-a);
  letter-spacing: -1px;
}

#top-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#top-links button {
  color: var(--color-blue-a);
}

#login {
  background-color: var(--color-blue-a);
  border-radius: 20px;
  padding: var(--round-button-input-padding);
}

#login:hover {
  background-color: var(--color-blue-b);
}

#base {
  display: flex;
  flex: 1;
}

#control-panel {
  background-color: var(--color-blue-a);
  color: var(--color-offwhite);
  height: 100%;
  padding: 25px;
  width: 270px;
}

#page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 40px 25px 60px 25px;
}

footer {
  background-color: var(--color-gray-a);
  padding: 120px 10%;
  display: flex;
  align-items: center;
}

#in-memory-of {
  background: url("../img/cat_tv.png") no-repeat;
  width: 160px;
  height: 153px;
  position: relative;
  text-align: center;
  margin-right: 120px;
}

#in-memory-of-content {
  font-size: 0.65rem;
  color: var(--color-gray-c);
  padding-top: 50px;
  padding-right: 6px;
}

#in-memory-of-content > p:nth-child(2) {
  margin-top: 5px;
  letter-spacing: 1px;
}

#page-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.4em;
  margin: 20px 0 30px 0;
  width: 100%;
}

.social-networks {
  display: grid;
  grid-template-columns: repeat(6, 30px);
  column-gap: 15px;
}

.social-networks > a {
  text-align: center;
}

.social-networks > a > i {
  font-size: 1.8rem;
}
