@import "normalize.css";
@import "browser_specific.css";
@import "hint.css";
@import "effects.css";

* {
  font-weight: 400;
}

:root {
  --color-bg: #eeeff8;
  --color-gray-divisions: #d7d7d7;
  --color-gray-divisions-lighter: #efeeee;
  --color-offwhite: #fdfdfe;
  --color-white: #ffffff;
  --color-black: #383838;
  --color-gray-a: #555555;
  --color-gray-b: #707070;
  --color-gray-c: #abacae;
  --color-gray-d: #e3e4ec;
  --color-gray-blue: #f6f7fc;
  --color-blue-a: #6075cd;
  --color-blue-b: #7d91e9;
  --color-blue-c: #a6b4f4;
  --color-green: #47b66e;
  --color-yellow: #f8cb5f;
  --color-yellow-darker: #eabf27;
  --color-red: #ef7868;
  --standard-select-button-input-padding: 12px 20px;
  --max-width: 1200px;
  --footer-padding-y: 120px;
}

/* Prevent a white border by the bottom */
html {
  background-color: var(--color-bg);
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--color-bg);
  font-family: "Rubik", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  background: transparent;
}

button,
input,
select {
  border: none;
  appearance: none;
  outline: none;
}

input {
  background-color: var(--color-offwhite);
}

select {
  background: transparent;
}

a {
  color: unset;
  text-decoration: none !important;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a:hover,
a:active {
  color: var(--color-blue-a) !important;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

a.light:hover {
  color: var(--color-blue-b) !important;
}

a.light:active {
  color: var(--color-blue-a) !important;
}

.text.light {
  color: var(--color-offwhite) !important;
}

.text.thin {
  font-weight: 300 !important;
}

.text.bold {
  font-weight: 500 !important;
}

.text.mini {
  font-size: 0.6rem !important;
}

.text.tiny {
  font-size: 0.78rem !important;
}

.text.small {
  font-size: 0.9rem !important;
}

h1 {
  font-size: 1.7rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.3rem !important;
}

.w-shadow-box {
  -webkit-box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 15px 40px -15px rgba(0, 0, 0, 0.15);
}

.element-focused {
  -webkit-box-shadow: 0px 0px 21px -1px var(--color-blue-c);
  -moz-box-shadow: 0px 0px 21px -1px var(--color-blue-c);
  box-shadow: 0px 0px 21px -1px var(--color-blue-c);
}

.text.spaced {
  letter-spacing: 0.5px;
}

.text.spaced-wide {
  letter-spacing: 1.2px;
}

header {
  --padding-x: 50px;
  width: calc(100% - var(--padding-x) * 2);
  padding: 25px var(--padding-x);
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-gray-divisions);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 2;
}

#header-logo-wrap {
  color: var(--color-blue-a);
  display: flex;
  align-items: center;
  user-select: none;
}

#logo-miniature {
  fill-rule: evenodd;
  fill: var(--color-blue-a);
  margin-right: 15px;
}

#logo-text {
  font-size: 1.8rem;
  color: var(--color-blue-a);
  letter-spacing: -1px;
}

#top-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#top-links button {
  color: var(--color-blue-a);
}

#homepage-menu-button {
  display: none;
}

#login {
  background-color: var(--color-blue-a);
  border-radius: 25px;
  padding: var(--standard-select-button-input-padding);
  color: var(--color-offwhite) !important;
}

#login:hover {
  background-color: var(--color-blue-b);
}

#base {
  display: flex;
  height: 100%;
  width: 100%;
}

#base.w-header {
  flex-direction: column;
}

#control-panel {
  background-color: var(--color-blue-a);
  color: var(--color-offwhite);
  height: calc(100% - 25px * 2);
  padding: 25px;
  position: static;
  top: 0px;
}

#control-panel.open {
  width: 270px;
}

#page-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.content {
  --content-pading-x: 25px;
  width: calc(100% - var(--content-pading-x) * 2);
  padding: 40px var(--content-pading-x) var(--footer-padding-y) var(--content-pading-x);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--color-gray-a);
  padding: var(--footer-padding-y) 0;
}

footer > #footer-content {
  max-width: calc(var(--max-width) - 20%);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 10%;
}

#in-memory-of {
  background: url("../img/cat_tv.png") no-repeat;
  width: 160px;
  height: 153px;
  position: relative;
  text-align: center;
  margin-right: 120px;
}

#in-memory-of-content {
  font-size: 0.65rem;
  color: var(--color-gray-c);
  padding-top: 50px;
  padding-right: 6px;
}

#in-memory-of-content > p:nth-child(2) {
  margin-top: 5px;
  letter-spacing: 1px;
}

#page-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.4em;
  margin: 20px 0 30px 0;
  width: 100%;
}

.social-networks {
  display: inline-grid;
  grid-template-columns: repeat(6, 30px);
  column-gap: 15px;
}

.social-networks > a {
  text-align: center;
}

.social-networks > a > i {
  font-size: 1.8rem;
}

.navigation-list {
  border-bottom: 1px solid var(--color-gray-divisions);
}

.navigation-list .navigation-item {
  padding: 10px 15px;
  letter-spacing: 1.2px;
  font-size: 0.78rem;
  cursor: pointer;
  color: var(--color-gray-c);
  position: relative;
}

.navigation-list .navigation-item.selected {
  border-bottom: 3px solid var(--color-blue-b);
  color: var(--color-blue-a);
  margin-bottom: -1px;
}

.navigation-select {
  padding: var(--standard-select-button-input-padding);
  background-color: var(--color-offwhite);
  border-radius: 5px;
}

.navigation-select .select-chevron {
  margin-left: 10px;
  color: var(--color-blue-a);
}

@media all and (max-width: 830px) {
  header {
    --padding-x: 25px;
  }

  #top-links {
    grid-template-columns: 1fr 80px;
  }

  #homepage-menu-button {
    display: block;
    font-size: 1.7rem;
    text-align: right;
  }

  #register {
    background-color: var(--color-blue-a);
    border-radius: 25px;
    padding: var(--standard-select-button-input-padding);
    color: var(--color-offwhite) !important;
  }

  #register:hover {
    background-color: var(--color-blue-b);
  }

  #shows-index,
  #login {
    display: none;
  }
}

@media all and (max-width: 700px) {
  footer > #footer-content {
    flex-direction: column;
  }

  #in-memory-of {
    margin: 0 auto 60px auto;
  }
}

@media all and (max-width: 567px) {
  :root {
    --footer-padding-y: 60px;
  }

  .content {
    --content-pading-x: 15px;
  }

  header #logo-text {
    display: none;
  }
}
