@import 'normalize.css';
@import 'browser_specific.css';
@import 'hint.css';
@import 'effects.css';

:root {
  --color-bg: #EEEFF8;
  --color-gray-divisions: #D7D7D7;
  --color-gray-divisions-lighter: #EFEEEE;
  --color-offwhite: #FDFDFE;
  --color-white: #FFFFFF;
  --color-black: #383838;
  --color-gray-a: #555555;
  --color-gray-b: #707070;
  --color-gray-c: #ABACAE;
  --color-gray-d: #E3E4EC;
  --color-blue-a: #6075CD;
  --color-blue-b: #7D91E9;
  --color-blue-c: #A6B4F4;
  --color-green: #47B66E;
  --color-yellow: #F8CB5F;
  --color-yellow-darker: #EABF27;
  --color-red: #EF7868;
  --max-width: 1200px;
}

/* Prevent a white border by the bottom */
html {
  background-color: var(--color-bg);
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--color-bg);
  font-family: 'Rubik', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button,
input {
  border: none;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none !important;
}

a:hover,
a:active { color: var(--color-blue-a) !important; }

.hidden { display: none; }

a.light:hover { color: var(--color-blue-b) !important; }

a.light:active { color: var(--color-blue-a) !important;}

.text.light { color: var(--color-offwhite) !important; }

.text.thin { font-weight: 300 !important; }

.text.regular { font-weight: 400 !important; }

.text.bold { font-weight: 500 !important; }

.text.tiny { font-size: 0.8rem !important; }

.text.small { font-size: 0.9rem !important; }

.text.spaced { letter-spacing: 0.5px; }

.text.spaced-wide { letter-spacing: 1px; }

header {
  width: 100%;
  padding: 25px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-gray-divisions);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 2;
}

#header-logo-wrap {
  color: var(--color-blue-a);
  display: flex;
  align-items: center;
  user-select: none;
}

#logo-miniature {
  fill-rule: evenodd;
  fill: var(--color-blue-a);
  margin-right: 15px;
}

#logo-text {
  font-size: 1.8rem;
  color: var(--color-blue-a);
  letter-spacing: -1px;
}

#top-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#top-links button { color: var(--color-blue-a); }

#login {
  background-color: var(--color-blue-a);
  padding: 10px 20px;
  border-radius: 20px;
}

#login:hover {
  background-color: var(--color-blue-b);
}

#base {
  display: flex;
  flex: 1;
}

#control-panel {
  background-color: var(--color-blue-a);
  color: var(--color-offwhite);
  height: 100%;
  padding: 25px;
  width: 270px;
}

#page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: var(--color-gray-a);
  padding: 120px 10%;
  display: flex;
  align-items: center;
}

#in-memory-of {
  background: url('../img/cat_tv.png') no-repeat;
  width: 160px;
  height: 153px;
  position: relative;
  text-align: center;
  margin-right: 120px;
}

#in-memory-of-content {
  font-size: 0.65rem;
  color: var(--color-gray-c);
  padding-top: 50px;
  padding-right: 6px;
}

#in-memory-of-content > p:nth-child(2) {
  margin-top: 5px;
  letter-spacing: 1px;
}

#page-links {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  row-gap: 0.2em;
  margin: 20px 0 30px 0;
}

#social-networks {
  display: grid;
  grid-template-columns: repeat(6, 35px);
  column-gap: 10px;
}

#social-networks > a > i {
  font-size: 1.8rem;
}