@import 'app.css';

#banned-content {
  padding-top: 10px;
  padding-bottom: 80px; /* Height of the footer + 150 */
  background-color: #e9e7e7 !important;
}

h3 {
  text-align: center;
}

#banned {
  margin: 0 auto;
  max-width: 1200px;
}
