:root {
  --card-height: 200px;
  --card-width: 170px;
}

.subtitle-cards-wrap {
  width: 100%;
  min-height: var(--card-height);
  display: flex;
  flex: 0 1 100%;

  .subtitle-card {
    background-color: var(--color-offwhite);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--standard-border-radius);
    overflow: hidden;
    flex-shrink: 0;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(calc(0px - var(--spacing-xs)));
    }

    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .metadata {
      padding: var(--spacing-s) var(--spacing-m);
      color: var(--color-gray-a);

      .title {
        color: var(--color-pink);
        margin-bottom: 10px;
      }

      .title,
      .episode-name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .episode-number {
        margin-bottom: 3px;
        color: var(--color-gray-c);
      }
    }

    button {
      width: 100%;
      height: 70px;
      color: var(--color-blue-a);
      background-color: var(--color-gray-blue);
    }
  }
}

@media all and (max-width: 770px) {
  .subtitle-cards-wrap {
    flex-direction: column;

    .subtitle-card {
      width: 100% !important;
      height: auto !important;
      margin: 0 !important;
      margin-bottom: var(--spacing-s) !important;
      flex-direction: row !important;

      &:last-of-type {
        margin-bottom: 26px;
      }

      .metadata {
        padding: 12px 20px;

        .title {
          margin-right: 5px;
        }

        .title,
        .episode-number {
          display: inline-flex;
          margin-bottom: 3px;
        }

        .episode-number {
          margin-top: -5px;
        }
      }

      button {
        display: none;
      }
    }
  }
}
