.comments-container {
  .comment-header {
    padding-left: var(--spacing-xxs);
  }

  .comment {
    padding: var(--spacing-m);
    border-bottom: 1px solid var(--color-gray-divisions);
    display: flex;
    align-items: flex-start;
    animation: fade_in 0.5s ease-in;

    &:last-of-type {
      border-bottom: none;
    }

    .pin {
      color: var(--color-gray-c);
      flex-shrink: 0;
    }

    &.comment-pinned {
      background-color: var(--color-gray-e);
    }

    .comment-body {
      flex: 1;

      .comment-info {
        margin-bottom: var(--spacing-xxs);

        *:not(:last-child) {
          margin-right: var(--spacing-xxs);
        }

        .comment-date {
          color: var(--color-gray-c);
          margin-right: var(--spacing-xxs);
        }

        .username {
          display: flex;
          align-items: center;

          i {
            margin-right: var(--spacing-xxs);
            font-size: 0.8rem;
          }
        }
      }

      .comment-content {
        margin-bottom: var(--spacing-xxs);

        p {
          white-space: pre-wrap;
        }
      }

      .comment-actions {
        span {
          cursor: pointer;
          margin-right: var(--spacing-xs);
          color: var(--color-gray-b);
        }
      }
    }
  }

  .newcomment-box {
    margin-top: var(--spacing-m);

    &::before {
      content: "";
      width: 100%;
      height: var(--spacing-s);
      position: absolute;
      background-color: var(--color-bg);
      top: calc(0px - var(--spacing-s));
      left: 0;
    }
  }
}

.open-comment {
  background-color: var(--color-offwhite);
  border-radius: var(--standard-border-radius);
  padding: var(--standard-padding);

  textarea {
    width: 100%;
    resize: none;
  }

  .save-comment {
    display: flex;
    align-items: center;
    color: var(--color-blue-a);
    font-size: 1.1rem;
    margin-left: auto;

    i {
      margin-right: var(--spacing-xxs);
    }

    &:disabled {
      color: var(--color-gray-c);
    }
  }
}

.newcomment-box {
  .comment-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--spacing-xs);

    .comment-char-counter {
      left: var(--spacing-s);
      bottom: var(--spacing-s);
      color: var(--color-gray-c);

      &.too-many {
        color: var(--color-red);
      }
    }
  }
}

.input-auto-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  &.stacked {
    align-items: stretch;

    &::after,
    input,
    textarea {
      grid-area: 2 / 1;
    }
  }

  &::after,
  textarea {
    width: 100%;
    height: 100%;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    margin: 0;
    resize: none;
    border: none;
    overflow: hidden;
  }

  &::after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: break-spaces;
  }

  &:focus-within {
    textarea:focus,
    input:focus {
      outline: none;
    }
  }
}
