/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

@import "./animations.css";

#base {
  --control-panel-closed-width: 30px;
  --control-panel-open-width: 210px;
  --control-panel-padding-x: 15px;
}

#control-panel {
  --control-panel-padding-y: 25px;
  background-color: var(--color-blue-a);
  color: var(--color-offwhite);
  height: calc(100% - var(--control-panel-padding-y) * 2);
  max-height: calc(100vh - var(--control-panel-padding-y) * 2);
  padding: var(--control-panel-padding-y) var(--control-panel-padding-x);
  position: fixed;
  top: 0px;
  z-index: 2;
  width: var(--control-panel-closed-width);
  transition: 0.3s ease width;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  display: none;
}

#control-panel.logged-in {
  display: flex;
}

#control-panel.opening {
  transition: 0.3s ease width, 0.2s ease visibility !important;
}

#control-panel.open {
  transition: 0s ease width, 0s ease visibility;
  width: var(--control-panel-open-width);
}

#control-panel .control-panel-section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#control-panel .control-panel-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: var(--spacing-s);
  min-height: 30px;
  position: relative;
  color: var(--color-blue-c);
}

#control-panel .control-panel-button.selected + .control-panel-sub-section {
  padding-left: 0px;
  margin-bottom: var(--spacing-s);
  margin-top: calc(0px - var(--spacing-xxs));
  display: flex;
  flex-direction: column;
}

#control-panel .control-panel-sub-section {
  display: none;
}

#control-panel.open .control-panel-sub-section {
  padding-left: var(--spacing-xs) !important;
  width: calc(100% - var(--spacing-xs)) !important;
}

#control-panel .control-panel-sub-section .control-panel-button.selected::before {
  display: none !important;
}

#control-panel .control-panel-sub-section .control-panel-button {
  min-height: 20px;
  margin-bottom: var(--spacing-xs);
}

#control-panel .control-panel-sub-section .control-panel-button:last-of-type {
  margin-bottom: 0px;
}

#control-panel .control-panel-sub-section .control-panel-button * {
  font-size: 0.9rem;
}

#control-panel .control-panel-button:hover,
#control-panel .control-panel-button.selected {
  color: var(--color-offwhite) !important;
  opacity: 1;
}

#control-panel .control-panel-button.selected > span {
  font-weight: 500;
}

[data-alerts] {
  position: relative;
}

#control-panel .control-panel-button.selected [data-alerts]::after {
  display: none !important;
}

#control-panel .control-panel-sub-section .control-panel-button.selected [data-alerts]::after {
  display: flex !important;
}

[data-alerts]::after {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  display: flex;
  content: attr(data-alerts);
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color-red);
  color: var(--color-offwhite);
  margin-left: var(--spacing-xxs);
  text-align: center;
  font-size: 0.7rem;
  position: absolute;
  right: -3px;
  bottom: -10px;
}

#control-panel .control-panel-button.selected::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: var(--color-yellow-darker);
  left: calc(0px - var(--control-panel-padding-x));
}

#control-panel .control-panel-button > i {
  flex-shrink: 0;
  font-size: 1.1rem;
  width: var(--control-panel-closed-width);
  text-align: center;
}

#control-panel .control-panel-minimize-toggle > .fa-chevron-circle-left {
  display: none;
}
#control-panel.open .control-panel-minimize-toggle > .fa-chevron-circle-left {
  display: unset;
}

#control-panel .control-panel-button > .fa-chevron-circle-right {
  display: unset;
}
#control-panel.open .control-panel-button > .fa-chevron-circle-right {
  display: none;
}

#control-panel .control-panel-button > span {
  margin-left: 10px;
  flex: 1;
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
  font-size: 0.9rem;
}

#control-panel.open .control-panel-button > span {
  display: unset;
}

#control-panel #control-panel-logo-wrap {
  display: flex;
  align-items: center;
}

#control-panel #control-panel-logo-wrap #logo-miniature {
  fill-rule: evenodd;
  fill: var(--color-offwhite);
  flex-shrink: 0;
}

#control-panel #control-panel-logo-wrap .logo-text {
  font-size: 1.4rem;
  color: var(--color-offwhite);
  letter-spacing: -0.5px;
  margin-left: 10px;
  display: none;
}

#control-panel.open #control-panel-logo-wrap .logo-text {
  display: unset;
  word-break: keep-all !important;
}

#control-panel .control-panel-button.search {
  margin: 2rem 0;
  height: 3rem;
  display: unset;
}
#control-panel.open .control-panel-button.search {
  display: none;
}

#control-panel #control-panel-search {
  display: none;
}
#control-panel.open #control-panel-search {
  display: flex;
}

#control-panel #control-panel-search {
  --padding-x: 10px;
  flex-shrink: 0;
  margin: 2rem 0;
  padding: 0 var(--padding-x);
  height: 3rem;
  background-color: var(--color-blue-b);
  border-radius: 25px;
  align-items: center;
}

#control-panel #control-panel-search input {
  flex: 1;
  background: transparent;
  color: var(--color-offwhite);
  padding: 0;
}

#control-panel #control-panel-search button {
  flex-shrink: 0;
  color: var(--color-blue-d);
}

#control-panel #control-panel-search > input::placeholder {
  color: var(--color-blue-d);
}

#page-container .overlaying-button {
  display: none;
}

@media all and (max-width: 800px) {
  /* Begining of handling expanding/collapsing side panel */
  #control-panel {
    display: flex !important;
    z-index: 4;
    --control-panel-padding-x: 25px;
  }

  #control-panel:not(.open) {
    visibility: hidden;
  }

  #page-container .overlaying-button {
    font-size: 1.6rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: fixed;
    color: var(--color-blue-a);
    z-index: 2;
    height: 41px;
  }

  #page-container .control-panel-minimize-toggle {
    padding: var(--header-padding-y) var(--header-padding-x);
    top: 0px;
    right: 0px;
  }

  #page-container.control-panel-is-open .control-panel-minimize-toggle > .fa-chevron-right {
    display: none;
  }
  #page-container .control-panel-minimize-toggle > .fa-chevron-right {
    display: unset;
  }
  /* End */

  #page-container {
    padding-left: 0px !important;
  }

  #control-panel #control-panel-logo-wrap {
    justify-content: center;
  }

  #control-panel #control-panel-search {
    padding: 0px 6px;
  }

  #control-panel.open {
    width: calc(100% - var(--control-panel-padding-x) * 2);
  }

  #page-container.control-panel-is-open {
    display: none;
  }

  .control-panel-button {
    margin-bottom: var(--spacing-m) !important;
  }

  .control-panel-button > i {
    font-size: 1.4rem !important;
  }

  .control-panel-button > span {
    font-size: 1.1rem !important;
    margin-left: var(--spacing-s) !important;
  }

  .control-panel-sub-section .control-panel-button > span {
    font-size: 1rem !important;
  }

  .control-panel-sub-section .control-panel-button > i {
    font-size: 1rem !important;
  }

  #control-panel #control-panel-logo-wrap .logo-text {
    font-size: 1.6rem !important;
  }

  #control-panel #search-input {
    font-size: 0.9rem !important;
  }
}
