/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

@import "app.css";

#disclaimer-content {
  padding-top: 10px;
  padding-bottom: 80px; /* Height of the footer + 150 */
  background-color: #e9e7e7 !important;
}

#disclaimer {
  margin: 0 auto;
  max-width: 1200px;
}

h3 {
  text-align: center;
}
