/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

@import "app.css";
@import "comment.scss";

#show-info-header {
  margin-bottom: var(--spacing-xxl);

  h1 {
    margin-bottom: 0;
  }

  #season-line,
  #episode-line,
  #episode-name {
    display: flex;
    align-items: center;
  }

  #season-line,
  #episode-line {
    padding: var(--spacing-s) 0;

    .choices-title {
      width: 85px;
      font-size: 0.65rem;
      flex-shrink: 0;
    }

    .choices {
      flex: 1;
      overflow-x: auto;
      display: flex;

      .choice {
        color: var(--color-gray-c);
        border-radius: 50%;
        height: 1.8rem;
        width: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        font-size: 0.9rem;
        margin-right: var(--spacing-xxs);
        word-break: keep-all !important;
        flex-shrink: 0;

        &:hover {
          border: 1px solid var(--color-blue-b);
        }

        &.selected {
          background-color: var(--color-blue-b);
          color: var(--color-offwhite) !important;
        }
      }
    }
  }

  #season-line {
    padding-top: 0;
    border-bottom: 1px solid var(--color-gray-divisions);
  }

  #episode-line {
    padding-bottom: 0;
  }

  #episode-name,
  #show-name {
    flex: 1;
    padding: var(--spacing-xxs) 0;
    display: flex;
    align-items: center;

    &.can-edit-properties {
      border: 1px solid transparent;
      cursor: pointer;

      i {
        margin-right: var(--spacing-xs);
        font-size: 0.9rem;
        color: var(--color-blue-c);
      }

      &:hover {
        padding: var(--spacing-xxs) var(--spacing-xs);
        border: 1px solid var(--color-gray-d);
        border-radius: var(--standard-border-radius);

        i {
          color: var(--color-blue-a);
        }
      }

      &:active {
        border: 1px solid var(--color-gray-c);
        border-radius: var(--standard-border-radius);
      }
    }

    h3 {
      margin-bottom: 0;
      margin-right: var(--spacing-xxs);
    }

    div {
      margin-top: 3px;
    }
  }

  #episode-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-s);
    flex-wrap: wrap;

    #episode-name {
      margin-right: var(--spacing-m);
      margin-bottom: 0;
      flex: 1;

      #episode-numbers {
        flex-shrink: 0;
      }
    }

    #episode-buttons {
      flex-shrink: 0;

      .episode-button {
        border: 1px solid var(--color-blue-a);
        padding: 0.5rem 1rem;
        border-radius: 0.6rem;
        color: var(--color-blue-a) !important;

        &:not(:last-child) {
          margin-right: var(--spacing-xs);
        }

        &:hover {
          background-color: var(--color-blue-a);
          color: var(--color-offwhite) !important;
        }
      }
    }
  }
}

#languages {
  margin-bottom: var(--spacing-l);

  #languages-header {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-s);
    justify-content: space-between;

    h4 {
      margin-bottom: 0;
    }
  }

  .language-container {
    background-color: var(--color-offwhite);
    padding: var(--spacing-m);
    border-radius: var(--standard-border-radius);
    position: relative;
    margin-bottom: var(--spacing-m);

    .language-name {
      cursor: pointer;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        padding: var(--spacing-m);
        top: calc(0px - var(--spacing-m));
        left: calc(0px - var(--spacing-m));
        width: 100%;
        height: 100%;
      }
    }

    .collapser-button {
      position: absolute;
      top: var(--spacing-m);
      right: var(--spacing-m);
    }

    .language-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s cubic-bezier(0, 1, 0, 1), margin 0.45s ease,
        padding 0.2s 0.2s ease;

      &.expanded {
        max-height: 9999px;
        margin-top: var(--spacing-s);
        margin-bottom: var(--spacing-s);
        transition: max-height 0.3s cubic-bezier(1, 0, 1, 0), margin 0.45s ease;
      }

      &.overflow {
        overflow: visible;
      }

      .version-container {
        border-bottom: 1px solid var(--color-gray-divisions-lighter);
        padding: var(--spacing-m) 0;

        &:first-of-type {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }

        p:first-child {
          margin-top: var(--spacing-xxs);
          color: var(--color-gray-d);
        }

        .version-info {
          display: flex;
          align-items: center;
          margin-top: var(--spacing-s);

          .version-buttons {
            display: grid;
            grid-template-columns: repeat(2, 2rem);
            column-gap: 8px;

            a {
              display: grid;
              height: 2rem;
              width: 2rem;
              place-items: center;
              flex-shrink: 0;

              &:hover {
                * {
                  transition: all 0.3s ease;
                }

                &:not(.unavailable) * {
                  color: var(--color-blue-b) !important;
                }

                .edit-button {
                  border-color: var(--color-blue-b);
                }
              }
            }

            .download-button {
              color: var(--color-gray-c);
              font-size: 2rem;
              height: 2rem;
              width: 2rem;
              padding: 0;
              margin-top: -3px;

              &.unavailable {
                opacity: 0.4;
              }
            }

            .edit-button-wrap {
              height: 2rem;
              width: 2rem;
              display: grid;
              place-items: center;

              .edit-button {
                color: var(--color-gray-c);
                position: relative;
                border: 3px solid var(--color-gray-c);
                box-sizing: border-box;
                height: 1.9rem;
                width: 1.9rem;
                border-radius: 50%;

                i {
                  font-size: 1.25rem;
                  position: absolute;
                  top: -2px;
                  right: -2px;
                  text-shadow: 0px -3px var(--color-offwhite), 0px 3px var(--color-offwhite);
                }
              }
            }
          }

          .progress-bar-container {
            flex: 1;
            margin: 0 var(--spacing-m);

            .subtitle-uploader {
              margin-bottom: var(--spacing-xxs);

              span:first-child {
                margin-right: var(--spacing-xs);
              }

              i {
                margin-right: var(--spacing-xxs);
              }
            }

            .progress-bar {
              background-color: var(--color-gray-divisions-lighter);
              height: 6px;
              border-radius: 3px;
              width: 100%;
              margin-bottom: var(--spacing-xxs);
              position: relative;

              .progress {
                height: 100%;

                &.progress_100 {
                  background-color: var(--color-green);
                  border-radius: 3px;
                }

                &.progress_9099 {
                  background-color: #7eb360;
                  border-radius: 3px 0px 0px 3px;
                }

                &.progress_8089 {
                  background-color: #96b360;
                  border-radius: 3px 0px 0px 3px;
                }

                &.progress_7079 {
                  background-color: #bec533;
                  border-radius: 3px 0px 0px 3px;
                }

                &.progress_5069 {
                  background-color: var(--color-yellow);
                  border-radius: 3px 0px 0px 3px;
                }

                &.progress_2049 {
                  background-color: var(--color-orange);
                  border-radius: 3px 0px 0px 3px;
                }

                &.progress_019 {
                  background-color: var(--color-red);
                  border-radius: 3px 0px 0px 3px;
                }
              }

              .paused-overlay {
                height: 100%;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                background: repeating-linear-gradient(
                  -45deg,
                  transparent,
                  transparent 5px,
                  rgba(0, 0, 0, 0.2) 5px,
                  rgba(0, 0, 0, 0.2) 10px
                );
              }
            }

            .more-info {
              .fa-comment {
                margin-right: var(--spacing-xxs);
              }
            }
          }
        }

        .more-options {
          position: relative;

          .ellipsis-wrapper {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
              background-color: var(--color-gray-d);
            }

            &:active {
              background-color: var(--color-gray-c);
            }
          }

          .more-options-list {
            position: absolute;
            top: 15px;
            right: 15px;
            background-color: var(--color-offwhite);
            border-radius: var(--standard-border-radius);
            z-index: 100;
            overflow: hidden;
            max-height: 0px;
            transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
            width: 0px;

            &.open {
              max-height: 9999px;
              width: 130px;
              transition: max-height 0.2s cubic-bezier(1, 0, 1, 0);
            }

            a {
              cursor: pointer;

              .option {
                font-size: 0.9rem;
                padding: var(--spacing-xs) var(--spacing-s);
                border-bottom: 1px solid var(--color-gray-divisions-lighter);

                &:hover {
                  padding-left: var(--spacing-m);
                }
              }

              &:last-of-type .option {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  #episode-buttons {
    width: 100%;
    margin-top: var(--spacing-xs);
  }
}

@media all and (max-width: 450px) {
  #episode-buttons {
    .episode-button {
      display: block;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      margin-bottom: var(--spacing-xxs);
    }
  }

  .language-container {
    .language-content {
      &.expanded {
        margin-bottom: 0 !important;
      }

      .version-info {
        display: block !important;

        .progress-bar-container {
          margin: 0 !important;
          margin-top: var(--spacing-s) !important;
          width: 100%;
        }

        .ellipsis-wrapper {
          margin-top: var(--spacing-xs) !important;
          margin-left: auto !important;
        }
      }
    }
  }
}
