.form-wrap {
  background-color: var(--color-bg);
  border-radius: var(--standard-border-radius);
  position: relative;
  min-width: 250px;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}

.form-wrap form {
  width: 100%;
}

.form-field {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border-bottom: 1px solid var(--color-gray-divisions);
  margin-bottom: var(--spacing-xs);
  background-color: var(--color-offwhite);
  border-radius: 0.2rem;
  position: relative;
  padding-left: 15px;
  padding-top: 20px;
}

.form-field::before {
  content: attr(fieldname);
  font-size: 0.8rem;
  color: var(--color-gray-b);
  position: absolute;
  top: 10px;
  left: 15px;
}

.form-field i {
  color: var(--color-gray-c);
  flex-shrink: 0;
  width: 20px;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}

.form-field input:focus + i,
.form-field select:focus + i {
  color: var(--color-blue-a);
}

.form-field input:not([type="checkbox"]),
.form-field select {
  flex: 1;
  color: var(--color-gray-a);
  max-width: calc(100% - 20px); /* whole width minus icon size */
  margin: var(--standard-padding);
  height: 1.5rem;
}

/* Workaround to make the background of autofilled fields invisible */
.form-field input:-webkit-autofill,
.form-field input:-webkit-autofill:hover,
.form-field input:-webkit-autofill:focus,
.form-field input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: var(--standard-border-radius);
  border: 2px solid var(--color-gray-c);
  margin-right: var(--spacing-xs);
  position: relative;
  text-align: center;
  flex-shrink: 0;
  background-color: var(--color-offwhite);
}

.checkbox.checked:not(.disabled) {
  background-color: var(--color-blue-a);
  border: 2px solid var(--color-blue-a);
}

.checkbox input::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
  cursor: pointer;
}

.checkbox:not(.disabled) i {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 0.7rem;
  color: transparent !important;
}

.checkbox.checked:not(.disabled) i {
  color: var(--color-offwhite) !important;
}

.form-field > .dropdown {
  position: absolute;
  right: 15px;
}

.form-field input::placeholder,
.form-field select:required:invalid {
  color: var(--color-gray-b);
  opacity: 0.5;
}

.validated.form-field input:valid + i::after,
.validated.form-field select:valid + i::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: var(--color-green);
}

.validated.form-field input:invalid + i::after,
.validated.form-field select:invalid + i::after {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  color: var(--color-red);
}

.validated.form-field input:valid + i::after,
.validated.form-field select:valid + i::after,
.validated.form-field input:invalid + i::after,
.validated.form-field select:invalid + i::after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  z-index: 20;
  position: absolute;
  right: -6px;
  bottom: -6px;
  --size: 0.6rem;
  font-size: var(--size);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-offwhite);
  border: 0.15rem solid var(--color-offwhite);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.form-wrap form button {
  width: 100%;
  padding: var(--standard-padding);
  border-radius: var(--standard-border-radius);
  background-color: var(--color-blue-b);
  height: 3.2rem;
  margin-top: 20px;
  transition: 0.3s ease all;
  color: var(--color-offwhite);
}

.form-wrap form button:hover {
  background-color: var(--color-blue-a);
}

.form-wrap form button:active {
  background-color: var(--color-blue-b);
}
