/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

.form-wrap {
  background-color: var(--color-bg);
  border-radius: var(--standard-border-radius);
  position: relative;
  min-width: 250px;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}

.form-wrap form {
  width: 100%;
}

.form-field {
  border-bottom: 1px solid var(--color-gray-divisions);
  margin-bottom: var(--spacing-xs);
  background-color: var(--color-offwhite);
  border-radius: 0.2rem;
  position: relative;
}

.form-field::before {
  content: attr(fieldname);
  font-size: 0.8rem;
  color: var(--color-gray-b);
  position: absolute;
  top: 8px;
  left: 15px;
  z-index: 1;
}

.form-field.disabled::before {
  color: var(--color-gray-c) !important;
  -webkit-text-fill-color: var(--color-gray-c) !important;
}

.form-field i {
  color: var(--color-gray-c);
  flex-shrink: 0;
  width: 20px;
  min-height: 1.5rem;
  line-height: 1.5rem;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  position: absolute;
  top: calc(var(--standard-padding-y) + 15px);
  left: var(--spacing-s);
}

.form-field input:focus + i,
.form-field select:focus + i,
.form-field textarea:focus + i {
  color: var(--color-blue-a);
}

.form-field input:not([type="checkbox"]),
.form-field input:not([type="radio"]),
.form-field select,
.form-field textarea {
  flex: 1;
  color: var(--color-gray-a);
  width: 100%;
  min-height: 1.5rem;
  line-height: 1.5rem;
  position: relative;
  padding-top: calc(var(--standard-padding-y) + 15px);
  padding-bottom: var(--standard-padding-y);
  padding-right: calc(var(--standard-padding-x) + 15px);
  padding-left: calc(var(--spacing-s) * 2 + 20px);
  text-overflow: ellipsis;
}

.form-field textarea {
  resize: none;
}

/* Workaround to make the background of autofilled fields invisible */
.form-field input:-webkit-autofill,
.form-field input:-webkit-autofill:hover,
.form-field input:-webkit-autofill:focus,
.form-field input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s !important;
}

.checkbox,
.radio {
  width: 16px;
  height: 16px;
  border-radius: var(--standard-border-radius);
  border: 2px solid var(--color-gray-c);
  text-align: center;
  flex-shrink: 0;
  background-color: var(--color-offwhite);
  display: grid;
  place-items: center;
  grid-template-columns: 16px;
  grid-template-rows: 16px;
  position: relative;
}

.radio {
  border-radius: 50%;
}

.checkbox.checked:not(.disabled),
.radio.checked:not(.disabled) {
  background-color: var(--color-blue-a);
  border: 2px solid var(--color-blue-a);
}

.checkbox.checked:not(.disabled) i,
.radio.checked:not(.disabled) i {
  color: var(--color-offwhite) !important;
}

.checkbox input::before,
.radio input::before {
  content: "";
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -2px;
}

.checkbox:not(.disabled) i {
  font-size: 0.7rem;
  color: transparent !important;
}

.radio:not(.disabled) i {
  font-size: 6px;
  color: transparent !important;
}

.form-field > .dropdown {
  position: absolute;
  right: 15px;
  left: unset;
}

.form-field input::placeholder,
.form-field textarea::placeholder,
.form-field select:required:invalid {
  color: var(--color-gray-b);
  opacity: 0.5;
}

.validated.form-field input:valid + i::after,
.validated.form-field textarea:valid + i::after,
.validated.form-field select:valid + i::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: var(--color-green);
}

.validated.form-field input:invalid + i::after,
.validated.form-field textarea:invalid + i::after,
.validated.form-field select:invalid + i::after {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  color: var(--color-red);
}

.validated.form-field input:valid + i::after,
.validated.form-field textarea:valid + i::after,
.validated.form-field select:valid + i::after,
.validated.form-field input:invalid + i::after,
.validated.form-field textarea:invalid + i::after,
.validated.form-field select:invalid + i::after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: -6px;
  bottom: -6px;
  --size: 0.6rem;
  font-size: var(--size);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-offwhite);
  border: 0.15rem solid var(--color-offwhite);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

form button {
  width: 100%;
  padding: var(--standard-padding);
  border-radius: var(--standard-border-radius);
  background-color: var(--color-blue-b);
  height: 3.2rem;
  margin-top: 20px;
  transition: 0.3s ease all;
  color: var(--color-offwhite);
}

form button:hover {
  background-color: var(--color-blue-a);
}

form button:active {
  background-color: var(--color-blue-b);
}

.radio-field {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: var(--spacing-m);
  margin-bottom: var(--spacing-xs);
}

.checkbox-field,
.radio-option {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: var(--spacing-xs);
  place-items: self-start;
}

.form-error:not(:empty) {
  padding: var(--spacing-xs);
  border-radius: var(--standard-border-radius);
  margin: var(--spacing-xs) 0;
  animation: appearing 0.2s ease-in;
  overflow: hidden;
  border: 1px solid var(--color-red);
  background-color: var(--color-baby-red);
  font-size: 0.9rem;
  width: 100%;
}
