/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

@import "app.css";

.version {
  color: var(--color-gray-c);
}

h4 {
  margin-bottom: var(--spacing-xxs);
}

.version-name {
  margin-bottom: var(--spacing-xs);
}

.candidates {
  .grid-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid var(--color-gray-divisions);

    &:last-of-type {
      border-bottom: none;
    }

    & > div {
      padding: var(--spacing-s);

      .username {
        display: flex;
        align-items: center;

        i {
          margin-right: var(--spacing-xxs);
          display: flex;
          align-items: center;
        }
      }

      .delete-button {
        color: var(--color-gray-b);
      }
    }
  }
}
