@import "app.css";
@import "card.scss";

.content {
  --navigation-chevron-width: 45px;

  #large-splash {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0 150px 0;

    #logo {
      height: 190px;
      fill: var(--color-blue-a);
      margin-right: 7%;
    }

    #logo-name {
      display: none;
    }

    #main-action-container {
      .social-networks {
        grid-template-columns: repeat(3, 30px);
        margin-bottom: 20px;

        a {
          text-align: center;

          &:hover,
          &:active {
            i {
              color: var(--color-blue-b) !important;
            }
          }

          i {
            color: var(--color-blue-c);
          }
        }
      }

      #motto {
        margin-bottom: 30px;

        h2 {
          margin-bottom: 5px;
        }
      }

      #search {
        --padding-x: 6px;
        background-color: var(--color-offwhite);
        border-radius: 50px;
        padding: var(--padding-x);
        width: 450px;
        margin-left: -15px;

        div {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-shrink: 0;

          input {
            flex: 1;
            padding-left: 24px;
          }

          #search-subtitles {
            background-color: var(--color-yellow);
            width: 50px;
            height: 50px;
            border-radius: 50%;

            i {
              font-size: 1.2rem;
              color: var(--color-offwhite);
            }
          }
        }
      }
    }
  }

  #category-navigation-list {
    padding-top: 20px;
    margin-top: -20px;
    width: calc(100% - var(--navigation-chevron-width) * 2);
    margin: 0 auto;

    #the-latest {
      position: absolute;
      top: -12px;
      left: 15px;
      width: 100%;
      color: var(--color-gray-c);
    }
  }

  #category-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: var(--navigation-chevron-width) 1fr var(--navigation-chevron-width);

    &.first-page {
      #previous-page {
        visibility: hidden;
      }

      #subtitle-cards-wrap {
        border-left: none;
      }
    }

    &.last-page {
      #next-page {
        visibility: hidden;
      }

      #subtitle-cards-wrap {
        border-right: none;
      }
    }

    .subtitle-cards-navigation-chevron {
      font-size: 2rem;
      color: var(--color-blue-a);
      width: var(--navigation-chevron-width);
      padding: 0;
      flex-shrink: 0;

      &#previous-page {
        text-align: left;
      }

      &#next-page {
        text-align: right;
      }
    }

    #subtitle-cards-wrap {
      align-items: flex-start;
      border-left: 1px solid #e8e7e7;
      border-right: 1px solid #e8e7e7;
      overflow-x: scroll;
      padding: 40px 0;

      .subtitle-card {
        margin: 0 12px;

        &:first-of-type {
          margin-left: 0px;
        }

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }

  @media all and (max-width: 800px) {
    #large-splash {
      padding-bottom: 80px;
    }
  }

  @media all and (max-width: 770px) {
    #large-splash {
      flex-direction: column;
      padding-top: 20px;

      #logo {
        height: 230px;
        margin-right: 0;
        margin-bottom: 60px;
      }

      #main-action-container {
        margin-left: 15px;
      }
    }

    #category-container {
      #subtitle-cards-wrap {
        padding: var(--spacing-s) 0;
        border: none;

        .subtitle-card {
          margin: 0;
          margin-bottom: var(--spacing-s);
        }
      }
    }

    --navigation-chevron-width: 0px;

    #category-container {
      grid-template-columns: 1fr;
      .subtitle-cards-navigation-chevron {
        display: none;
      }
    }
  }

  @media all and (max-width: 567px) {
    #large-splash {
      padding-top: 0;

      #logo {
        height: 200px;
        margin-bottom: 30px;
      }

      #logo-name {
        display: block;
        font-size: 1.8rem;
        color: var(--color-blue-a);
        letter-spacing: -1px;
        margin-bottom: 20px;
      }

      #main-action-container {
        text-align: center;
        width: 100%;
        margin-left: 0;

        #motto {
          display: none;
        }

        #search {
          margin: 0 auto;
          margin-top: 20px;
          width: unset;
        }
      }
    }
  }

  @media all and (max-width: 500px) {
    #large-splash {
      #main-action-container {
        #search {
          width: calc(100% - 6px - 10px);
          margin-left: auto;
          margin-right: auto;
          overflow: hidden;

          input {
            padding-left: 4px;
          }
        }
      }
    }
  }
}
