/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

@import "app.css";
@import "comment.scss";

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    cursor: default;
    margin-bottom: var(--spacing-xs);
    padding: var(--spacing-s);
    line-height: 1.3rem;
    animation: fade_in 0.5s ease-in;
    background-color: var(--color-offwhite);
    border-radius: var(--standard-border-radius);

    &:last-of-type {
      margin-bottom: 0px;
    }

    .time-ago {
      color: var(--color-gray-c);
    }
  }
}

.pages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-s);

  .page-group {
    display: flex;
    align-items: center;
    justify-content: center;

    .page:first-child {
      margin-right: var(--spacing-xxs);
    }
  }

  .page {
    color: var(--color-gray-c);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-size: 1rem;
    word-break: keep-all !important;

    &:hover {
      color: var(--color-blue-b);
      border: 1px solid var(--color-blue-b);
    }

    &:active {
      background-color: var(--color-blue-b);
      color: var(--color-offwhite) !important;
    }

    &.change-page * {
      color: var(--color-blue-b);
    }

    &.disabled,
    &.disabled * {
      background-color: transparent !important;
    }
  }
}

.navigation-list {
  margin-bottom: var(--spacing-m);
}

.reload {
  color: var(--color-gray-c);
  cursor: pointer;
  margin-bottom: var(--spacing-s);
  text-align: right;
  font-size: 0.9rem;

  i {
    font-size: 1rem;
    margin-right: 3px;
  }

  &:hover {
    color: var(--color-gray-b);
  }

  &:active {
    color: var(--color-gray-a);

    i {
      animation: spin 0.3s linear;
    }
  }
}
