@import "app.css";

table {
  border-collapse: collapse;
  border-spacing: 0px;

  thead {
    tr {
      border-bottom: 0 !important;
    }
  }

  th {
    font-weight: 500;
    padding: var(--spacing-xs);
    padding-bottom: var(--spacing-s);
    text-align: left;

    &:nth-of-type(2) {
      width: 150px;
    }
  }

  td {
    font-size: 0.9rem;
    padding: var(--spacing-xs);
    text-align: left;

    &:nth-of-type(2) {
      width: 150px;
    }

    a {
      color: var(--color-blue-a);
    }
  }

  tr {
    border-bottom: 1px solid var(--color-gray-divisions);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: var(--spacing-xl);

  li {
    cursor: default;
    border-bottom: 1px solid var(--color-gray-divisions);

    &:last-of-type {
      border-bottom: 0px;
    }

    & > div,
    & > a {
      padding: var(--spacing-xs);
      transition: padding-left 0.2s ease;
      display: flex;
      align-items: center;

      .id {
        color: var(--color-blue-a);
        margin-right: var(--spacing-xs);
      }
    }

    &:hover {
      a {
        padding-left: var(--spacing-s);
        cursor: pointer;
      }
    }
  }
}

.alert-card {
  padding: var(--spacing-xs) var(--spacing-s);
  background-color: var(--color-offwhite);
  border-radius: var(--standard-border-radius);
  --alert-color: var(--color-red);
  margin-bottom: var(--spacing-xs);

  &.solved {
    --alert-color: var(--color-green);
  }

  .card-header {
    display: flex;
    align-items: center;
    width: calc(100% - var(--spacing-xxs) * 2);
    cursor: default;
    padding: var(--spacing-xs) var(--spacing-xxs);

    .icon {
      margin-right: var(--spacing-s);
      color: var(--alert-color);
      font-size: 1.4rem;
      flex-shrink: 0;
    }

    .alert-comment {
      border-radius: 0 var(--standard-border-radius) var(--standard-border-radius) 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-right: var(--spacing-s);
      flex: 1;

      .metadata {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: var(--color-gray-b);

        * {
          margin-right: 3px;
        }
      }

      .alert-message {
        margin-top: var(--spacing-xxs);
        display: flex;
        align-items: flex-start;
        line-height: 1.2rem;
        width: 100%;

        i {
          flex-shrink: 0;
          margin-right: var(--spacing-xs);
        }
      }
    }
  }

  .card-content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1), margin 0.45s ease, padding 0.2s 0.2s ease;

    &.expanded {
      padding: var(--spacing-xs);
      padding-top: 0;
      max-height: 9999px;
      transition: max-height 0.3s cubic-bezier(1, 0, 1, 0), margin 0.45s ease;
    }

    .comment {
      border-color: var(--color-gray-divisions-lighter);
      div {
        align-items: flex-start;
        flex-direction: column;
      }

      .username {
        color: var(--color-gray-c);
        margin-bottom: var(--spacing-xxs);
      }
    }

    .card-footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--spacing-xs);
    }
  }

  .form-wrap {
    background-color: transparent;
    max-width: unset;
    padding-top: 0;

    .form-field {
      border-radius: 0;
    }
  }
}
