@import "app.css";

.content {
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.forbidden {
  color: var(--color-red);
  font-size: 9rem;
  margin-bottom: var(--spacing-l);
}

.forbidden-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: var(--spacing-s);
}
