/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-bar-container .search-results {
  list-style: none;
  padding: 0;
  top: calc(100% - 10px);
  position: absolute;
  z-index: 2;
  width: 90%;
  background-color: var(--color-offwhite);
  color: var(--color-gray-a);
  border-radius: var(--standard-border-radius);
  max-height: 200px;
  overflow-y: auto;
}

.search-results li {
  font-size: 0.9rem;
  padding: var(--spacing-s);
  transition: all 0.4s ease;
  overflow: hidden;
  text-align: left;
}

.search-results:not(:hover) li.selected,
.search-results li:hover {
  background-color: var(--color-blue-d);
  padding-left: var(--spacing-m);
  color: var(--color-blue-a);
}

.search-results:not(:hover) li.selected a,
.search-results li:hover a {
  font-weight: 500;
}

.search-results li:not(:last-of-type) {
  border-bottom: 1px solid var(--color-gray-divisions-lighter);
}

.search-results li:hover {
  padding-left: var(--spacing-m);
}

.search-results li a {
  display: block;
  position: relative;
}

.search-results li a::before {
  content: "";
  width: 100%;
  height: 100%;
  left: calc(0px - var(--spacing-xs));
  top: calc(0px - var(--spacing-xs));
  padding: var(--spacing-xs);
  position: absolute;
}
