/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */

@import "app.css";
@import "episode.scss";
@import "comment.scss";

#translation {
  min-width: calc(var(--max-width) - var(--content-padding-x) * 2);

  #show-info-header {
    margin-bottom: var(--spacing-xs);

    #translating-header {
      i {
        margin-right: var(--spacing-xs);
        font-size: 0.8rem;
      }
    }
  }

  #translation-header {
    position: sticky;
    top: 0px;
    z-index: 1;
  }

  #translation-tools {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-xs);
    background-color: var(--color-gray-e);

    .main-tools {
      display: flex;
      align-items: center;

      .tool-group {
        flex-shrink: 0;
        border-right: 1px solid var(--color-gray-divisions);

        &:last-of-type {
          border-right: none;
        }

        .tool {
          font-size: 0.8rem;
          color: var(--color-gray-a);
          padding: var(--spacing-xs);

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

          &:active {
            background-color: rgba(0, 0, 0, 0.15);
          }

          i {
            width: 13px;
            text-align: right;
            margin-right: var(--spacing-xxs);
          }
        }
      }
    }

    .alert-mod {
      background-color: var(--color-black);
      color: var(--color-yellow);
      border: 2px solid var(--color-yellow);
      width: 30px;
      height: 30px;
      font-size: 0.7rem;
      border-radius: 50%;
      padding: 0;

      &:hover {
        background-color: var(--color-gray-a);
      }
    }
  }

  #filters {
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-gray-d);
    border-top: 1px solid var(--color-gray-d);
    padding: var(--spacing-xs) var(--spacing-m);
    font-size: 0.8rem;
    color: var(--color-gray-a);
    display: flex;
    align-items: center;
    justify-content: center;

    .filter {
      display: flex;
      align-items: center;
      margin-right: var(--spacing-xl);
      position: relative;

      input:not([type="checkbox"]),
      select {
        background-color: var(--color-offwhite);
        border-radius: var(--standard-border-radius);
        padding: var(--spacing-xxs) var(--spacing-xs);
        margin-left: var(--spacing-xs);
      }

      select {
        max-width: 200px;
      }

      span {
        display: flex;
        align-items: center;
        position: relative;

        > i {
          position: absolute;
          right: var(--spacing-xxs);
          width: 15px;
          text-align: right;
        }

        .precise-search {
          cursor: pointer;
          font-size: 1rem;
          background-color: var(--color-offwhite);
          padding-left: 2px;
          border-left: 1px solid var(--color-gray-divisions);

          &.active {
            color: var(--color-red);

            &:hover {
              color: var(--color-orange);
            }
          }

          &:hover {
            color: var(--color-gray-b);
          }
        }
      }
    }
  }

  .page-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-l) 0;

    .choices {
      flex: 1;
      margin: 0 var(--spacing-xs);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1.8rem, max-content));
      place-items: center;
      justify-content: center;
      grid-gap: var(--spacing-xxs);
    }

    .choice {
      color: var(--color-gray-c);
      border-radius: 50%;
      height: 1.8rem;
      width: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      font-size: 0.9rem;
      word-break: keep-all !important;

      &:hover {
        color: var(--color-blue-b);
        border: 1px solid var(--color-blue-b);
      }

      &.selected {
        background-color: var(--color-blue-b);
        color: var(--color-offwhite) !important;
      }

      &.change-page * {
        color: var(--color-blue-b);
      }

      &.disabled,
      &.disabled * {
        background-color: transparent !important;
      }
    }
  }

  #sequences {
    margin: 0 auto;

    .grid-header {
      display: grid;
      height: 40px !important;
      align-items: baseline;

      .number {
        * {
          color: var(--color-black);
        }
      }

      span {
        font-weight: bold !important;
        text-align: center;
      }
    }

    .grid-row {
      height: auto;
      min-height: calc(3rem + var(--spacing-xs) * 2);
      height: auto;
      display: grid;
      border-top: 1px solid var(--color-gray-divisions);
      grid-template-columns: repeat(6, max-content);

      &:first-of-type,
      &:nth-child(2) {
        border-top: none;
      }

      &:last-of-type {
        border-bottom: none;
      }

      & > div {
        padding: 0 var(--spacing-xxs);
        height: 100%;
        display: grid;
        align-items: center;
        font-family: "Courier Prime", monospace;
        cursor: default;
      }

      * {
        font-size: 0.9rem;
      }

      &.history {
        background-color: var(--color-gray-e);
        color: var(--color-gray-b);
        border-top: 1px dashed var(--color-gray-divisions);

        & + :not(.history) {
          border-top-width: 2px !important;
        }
      }

      &:not(.history) + .history {
        border-top: 2px solid var(--color-gray-divisions);
      }

      &.locked {
        background-color: var(--color-baby-green);
        color: var(--color-green-darker);

        * {
          color: var(--color-green-darker);
        }

        .time div::before {
          color: var(--color-green-darker) !important;
        }
      }

      &.highlighted {
        animation: animate_highlight 5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 6px;
          background-color: var(--color-blue-b);
          top: 0px;
          left: -6px;
        }
      }
    }

    .number {
      width: 4ch;
      font-family: "Rubik", sans-serif;
      font-weight: 500 !important;
      justify-content: center;

      * {
        color: var(--color-blue-a);
        font-weight: 500 !important;
      }

      .seq-num-clickable {
        cursor: pointer;
      }
    }

    .user {
      width: 14ch;
      justify-content: center;

      a {
        text-align: center;
        overflow: hidden;
      }
    }

    .time {
      width: 13ch;
      padding: 0;
      justify-content: center;

      input {
        background-color: var(--color-offwhite);
      }

      & > div {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 8px;
        margin-top: 12px;

        div,
        input {
          width: 100%;
          text-align: center;
          padding: 0px;
          height: 20px;
          display: grid;
          place-items: center;
          cursor: text;
          position: relative;
        }

        div {
          &::before {
            position: absolute;
            top: -11px;
            left: 0px;
            font-size: 0.7rem;
            opacity: 0.5;
          }

          &:first-of-type::before {
            content: "de";
          }
          &:nth-of-type(2)::before {
            content: "hasta";
          }
        }
      }
    }

    .fa-spinner {
      color: var(--color-blue-a);
      font-size: 0.9rem;
    }

    .text {
      width: 41ch;
      margin: 0;

      div {
        line-height: 1.4rem;
        text-align: left;
        white-space: pre-wrap;
        width: 41ch;
        min-height: 2.8rem;
        height: auto;
      }
    }

    .editable-text {
      width: calc(40ch + 8px + 59px);

      .closed {
        height: calc(100% - var(--spacing-xs) * 2);
        width: calc(40ch + 8px);
      }

      .open-by-other {
        position: relative;

        .fa-pen-square {
          height: 20px;
          width: 20px;
          position: absolute;
          top: calc(50% - 10px);
          right: 12px;
          font-size: 1.3rem;
          color: var(--color-blue-b);
          animation: breathing 3s ease-out infinite;
          display: grid;
          place-items: center;
        }
      }

      .past,
      .open-by-other,
      .translatable {
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;

        .closed,
        textarea {
          resize: none;
          padding: var(--spacing-xs);
          line-height: 1.4rem;
          width: calc(40ch + 8px);
          overflow-y: auto;
          flex-shrink: 0;
          flex-grow: 0;
          height: 2.8rem;
          white-space: pre-wrap;

          /* width */
          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            background-color: var(--color-gray-e);
          }

          &::-webkit-scrollbar-thumb {
            background: var(--color-gray-b);
            border: none;
          }
        }

        .closed {
          min-height: 2.8rem;
          height: auto;
        }

        .line-status {
          flex-shrink: 0;
          width: 37px;
          align-self: stretch;
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: var(--color-green);
          border-left: 1px solid var(--color-gray-divisions-lighter);
          line-height: 1.4rem;

          .counter-warning {
            color: var(--color-yellow-darker);
            font-weight: 500;
          }
          .counter-error {
            color: var(--color-red);
            font-weight: 500;
          }
        }

        &.editing {
          background-color: var(--color-offwhite);
        }

        .fa-times-circle {
          position: absolute;
          color: var(--color-gray-c);
          top: -7px;
          right: -13px;
          font-size: 0.9rem;
          cursor: pointer;
          padding: var(--spacing-xxs) var(--spacing-xs);
        }
      }
    }

    .actions {
      width: 27px;

      .warning {
        animation: shake 0.25s linear infinite;
        i {
          color: var(--color-red);
        }
      }

      .suggestion {
        animation: shake 0.25s linear infinite;
        i {
          color: var(--color-blue-b);
        }
      }

      i {
        cursor: pointer;
        color: var(--color-gray-a);
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        border-radius: 50%;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
    }
  }

  #translation-locks {
    margin-bottom: var(--spacing-xl);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: var(--spacing-xs) var(--spacing-xs);
        transition: padding-left 0.2s ease;
        cursor: default;
        border-bottom: 1px solid var(--color-gray-divisions);

        &:last-of-type {
          border-bottom: 0px;
        }

        &:hover {
          padding-left: var(--spacing-s);
        }

        .close {
          cursor: pointer;
          color: var(--color-blue-a) !important;
        }
      }
    }
  }
}
