@import "app.css";
@import "episode.scss";
@import "comment.scss";

#translation {
  #show-info-header {
    margin-bottom: var(--spacing-xs);
  }

  #translation-tools {
    display: flex;
    justify-content: center;
    padding: var(--spacing-s);
    background-color: var(--color-gray-e);

    .tool-group {
      flex-shrink: 0;
      border-right: 1px solid var(--color-gray-divisions);

      &:last-of-type {
        border-right: none;
      }

      .tool {
        font-size: 0.8rem;
        color: var(--color-gray-a);
        padding: var(--spacing-xs);

        &:hover {
          background-color: var(--color-gray-d);
        }

        i {
          width: 13px;
          text-align: right;
          margin-right: var(--spacing-xxs);
        }
      }
    }
  }

  #filters {
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-gray-d);
    border-top: 1px solid var(--color-gray-d);
    padding: var(--spacing-xs) var(--spacing-m);
    font-size: 0.8rem;
    color: var(--color-gray-a);
    display: flex;
    align-items: center;
    justify-content: center;

    .filter {
      display: flex;
      align-items: center;
      margin-right: var(--spacing-xl);
      position: relative;

      input:not([type="checkbox"]),
      select {
        background-color: var(--color-offwhite);
        border-radius: var(--standard-border-radius);
        padding: var(--spacing-xxs) var(--spacing-xs);
        margin-left: var(--spacing-xs);
      }

      span {
        display: flex;
        align-items: center;
        position: relative;

        > i {
          position: absolute;
          right: var(--spacing-xxs);
          width: 15px;
          text-align: right;
        }
      }
    }
  }

  .page-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-l) 0;

    .choices {
      flex: 1;
      margin: 0 var(--spacing-xs);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .choice {
      color: var(--color-gray-c);
      border-radius: 50%;
      height: 1.8rem;
      width: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      font-size: 0.9rem;
      margin-right: var(--spacing-xxs);

      &:hover {
        border: 1px solid var(--color-blue-b);
      }

      &.selected {
        background-color: var(--color-blue-b);
        color: var(--color-offwhite) !important;
      }

      &.change-page * {
        color: var(--color-blue-b);
      }

      &.disabled,
      &.disabled * {
        background-color: transparent !important;
      }
    }
  }

  #sequences {
    border-collapse: collapse;
    width: calc(var(--max-width) - var(--content-pading-x) * 2);

    thead {
      tr {
        th {
          font-weight: 500;
          min-width: 50px;
          padding-bottom: var(--spacing-m);
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid var(--color-gray-divisions);

        &:last-of-type {
          border-bottom: 0;
        }

        td {
          padding: 0 var(--spacing-xxs);
          font-size: 0.9rem;
          text-align: center;
          line-height: 1.4rem;

          &:first-of-type {
            width: 50px;
          }

          &.user {
            width: 140px;
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
          }

          &.time {
            width: 130px;

            input {
              background-color: var(--color-offwhite);
            }

            input,
            span {
              margin: 1px 0;
              width: calc(100% - 4px);
              text-align: center;
              display: inline-block;
              padding: 2px;
            }
          }

          .fa-spinner {
            color: var(--color-blue-a);
            font-size: 1.2rem;
          }

          &.text {
            font-family: monospace, monospace;
            text-align: left;
            width: 40ch;

            pre {
              width: 40ch;
              white-space: pre-wrap;
              word-wrap: break-word;
              padding: var(--spacing-xs) var(--spacing-xs);
              margin: 0;
              min-height: 2.8rem;
            }

            .untranslated {
              background-color: var(--color-blue-d);
              color: var(--color-blue-a);
            }

            .translatable {
              padding: 0;
              display: flex;
              align-items: center;
              position: relative;

              &.editing {
                background-color: var(--color-offwhite);
              }

              .fa-times {
                position: absolute;
                color: var(--color-gray-c);
                top: 0px;
                right: 40px;
                font-size: 0.7rem;
                cursor: pointer;
                padding: var(--spacing-xxs) var(--spacing-xs);
              }

              .line-status {
                flex: 1 0 40px;
                align-self: stretch;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: var(--color-green);
                border-left: 1px solid var(--color-gray-divisions-lighter);

                .counter-warning {
                  color: var(--color-yellow-darker);
                  font-weight: 500;
                }
                .counter-error {
                  color: var(--color-red);
                  font-weight: 500;
                }
              }

              textarea {
                resize: none;
                width: calc(100% - var(--spacing-xs) * 2);
                padding: var(--spacing-xs);
                height: 100%;
                width: 40ch;
                min-height: 2.8rem;
              }
            }
          }

          &.actions {
            i {
              cursor: pointer;
              color: var(--color-gray-a);
            }
          }
        }
      }
    }
  }
}
