/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2021 subtitulamos.tv
 */
@import "app.css";
@import "card.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Inter:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

.navigation-list {
  margin-bottom: var(--spacing-l);
}

.info-group {
  margin-bottom: var(--spacing-xxl);
}

#settings {
  padding-top: var(--spacing-m);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-xxl);

  .form-wrap {
    max-width: 400px;
  }
}

#info {
  .role-icon {
    margin-right: var(--spacing-xxs);
  }

  .grid {
    margin-bottom: var(--spacing-xxl);

    .grid-row {
      padding: var(--spacing-s);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--spacing-s);

      div:nth-child(2n) {
        color: var(--color-gray-b);
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        button,
        a,
        b {
          margin-left: var(--spacing-xxs);
        }
      }

      button,
      a {
        color: var(--color-blue-a);
        padding: 0;
        text-align: left;
        background-color: transparent;
        margin: 0;
        height: unset;
      }
    }
  }

  #subtitles-participated-container {
    .tabs {
      margin-bottom: var(--spacing-s);

      button {
        &:first-of-type {
          margin-right: var(--spacing-m);
        }

        &.selected {
          color: var(--color-blue-a);
        }
      }
    }

    .subtitles {
      .spoiler-name {
        font-size: 0.7rem;
        letter-spacing: 1.5px;
        color: var(--color-blue-a);
        text-align: right;
        cursor: pointer;
        padding: var(--spacing-s);
        border-top: 1px solid var(--color-gray-divisions);
      }

      .subtitle-cards-wrap {
        padding: var(--spacing-s) 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--card-width), max-content));
        grid-gap: var(--spacing-m) var(--spacing-s);
        justify-content: center;
        overflow: hidden;
        transition: max-height 2s cubic-bezier(0, 1, 0, 1);
        max-height: 560px;

        .subtitle-card {
          margin-bottom: 0 !important;
        }

        &.expanded {
          max-height: 99999px;
          transition: max-height 2s cubic-bezier(1, 0, 1, 0);
        }
      }
    }

    @media all and (max-width: 770px) {
      .subtitle-cards-wrap {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: var(--spacing-xs) !important;
      }
    }
  }
}

.radio-field {
  grid-template-columns: repeat(2, max-content);
  justify-content: left;
}

#duration-container {
  width: 400px;
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-m);

  #detailed-duration {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
      margin-right: var(--spacing-xs);
    }

    input {
      border-bottom: 1px solid var(--color-gray-c);
      width: 40px;
    }
  }
}

#user-preferences-form {
  margin-top: var(--spacing-xxl);

  .user-preference-preview {
    padding: var(--spacing-xs) var(--spacing-m);
    margin-bottom: var(--spacing-m);
    border-left: 3px solid var(--color-gray-d);
    font-size: 0.93rem;
    line-height: 1.4rem;

    .preview-tag {
      color: var(--color-gray-c);
      font-family: "Rubik", sans-serif !important;
    }
  }

  #color-swatch-preview {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    height: 40px;
    grid-gap: var(--spacing-xs);
    margin-bottom: var(--spacing-m);

    .color-swatch {
      width: 100%;
      border-radius: 50%;
      background-color: var(--color-offwhite);
      border-bottom: 1px solid var(--color-gray-d);
      display: grid;
      place-items: center;
      position: relative;

      &::after {
        content: "";
        width: 75%;
        height: 75%;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
      }

      &.color-swatch-blue-a::after {
        background-color: var(--color-blue-a);
      }
      &.color-swatch-blue-b::after {
        background-color: var(--color-blue-b);
      }
      &.color-swatch-blue-c::after {
        background-color: var(--color-blue-c);
      }
    }
  }
}

@media all and (max-width: 1000px) {
  #settings {
    grid-template-columns: 1fr;
  }
}
