@import "app.css";
@import "card.scss";

.navigation-list {
  margin-bottom: var(--spacing-l);
}

.info-group {
  margin-bottom: var(--spacing-xxl);
}

#settings {
  padding-top: var(--spacing-m);
}

#info {
  .role-icon {
    margin-right: var(--spacing-xxs);
  }

  .grid {
    margin-bottom: var(--spacing-xxl);

    .grid-row {
      padding: var(--spacing-s);
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div:nth-child(2n) {
        color: var(--color-gray-b);
        display: flex;
        align-items: center;

        button,
        a {
          margin-left: var(--spacing-xxs);
        }
      }

      button,
      a {
        color: var(--color-gray-a);
        padding: 0;
      }
    }
  }

  #subtitles-participated-container {
    .tabs {
      margin-bottom: var(--spacing-s);

      button {
        &:first-of-type {
          margin-right: var(--spacing-m);
        }

        &.selected {
          color: var(--color-blue-a);
        }
      }
    }

    .subtitles {
      max-height: 930px;
      overflow: hidden;
      transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);

      &.expanded {
        max-height: 9999px;
        transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
      }

      .subtitle-cards-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--card-width), max-content));
        grid-gap: var(--spacing-s);
        justify-content: center;
      }
    }
  }
}
