#translation {
   padding-top: 20px;
   padding-bottom: 40px;   /* Height of the footer + 150 */
   background-color: #e9e7e7 !important;
}

#translation-details {
    background-color: #f0eeee;
    padding-bottom: 30px;
}

#sequences {
    border-spacing: 0px;
    margin: 0 auto;
}

#sequences td {
    font-size: 13.5px;
    border-bottom: 2px solid rgb(193, 193, 193);
    height: 55px;
}

#sequences th {
    font-size: 13.5px;
    border-bottom: 2px solid rgb(193, 193, 193);
    height: 25px;
}

#translation tr.history td {
    font-size: 12.5px;
    border-bottom: 1px dashed rgb(152, 152, 152);
    height: 35px;
    background-color: #e2e2e2;
}

#translation table td:first-child {
    min-width: 45px;
    text-align: center;
    font-size: 15px;
}

#translation table td.user {
    padding: 0 20px 0 20px;
    max-width: 160px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
}

#translation table td.time {
    padding: 0 30px 0 30px;
    max-width: 235px;
    font-size: 14px;
    text-align: center;
}

#translation table td.text {
    min-width: 325px;
}

#translation table td.actions {
    padding: 0 10px 0 10px;
    min-width: 60px;
}

#translation td.actions i {
    padding: 3px;
}

#translation .fa-unlock-alt, #translation .fa-question-circle-o {
    color: #dc911c;
}

#translation .fa-lock {
    color: green;
}

#translation .fa-check-circle {
    color: #2e93a5;
}


#translation .verified {
    background-color: #abdce0;
}

#translation .locked {
   background-color: #7ccc94;
    
}

#translation .tests {
    background: #9dd53a; /* Old browsers */
    background: -webkit-linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%);
    background: -moz-linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%);
    background: -o-linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%);
    background: linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.page-wrapper {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination li {
    list-style-type: none;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
    width: 35px;
    line-height: 30px;
    cursor: pointer;

    color: black;
    text-decoration: none;
}

.pagination i {
    color: black;
    font-size: 0.7rem;
}

.pagination .active {
    background-color: #415b92;
    color: #fff;
}

.pagination li.target-page:not(.active):hover {
    background-color: #95a0c3;
}

.pagination li.target-page:not(.active):hover {
    color: #ffffff;
}

.pagination .active > a {
    color: #ffffff;
}

#secondary-language-name, #target-language-name, #author-filter-name {
    color: #964646
}

#translation table td:last-child {
    padding-right: 10px;
    text-align: right;
}

#translation .actions i {
    margin: 2px;
    font-size: 18px;
    cursor: pointer;
}

#translation .actions .fa-undo {
    font-size: 16px !important;
}

#translation .actions .fa-floppy-o {
    color: #009c00;
    padding-right: 0px;
}

#translation .actions .fa-floppy-o.disabled {
    color: #757575;
}

#translation .actions .fa-times-circle-o {
    color: #ff5858;
    padding-left: 0px;
}

#translation textarea {    
    width: 89%;
    margin-top: 5px;
    padding: 7px;
    height: 100%;
}

#translation .text {
    min-width: 375px;
}

#translation .translatable {
    cursor: pointer;
}

#translation pre {
    font-family: "Open Sans";
    height: 100%;
    display:table-cell;
    vertical-align:middle;
}

#translation .line-status {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: -42px;
}

#translation .line-counter {
    display: block;
    color: green;
    font-weight: bold;
}

#translation .counter-warning {
    color: #e6ac00;
}

#translation .counter-error {
    font-weight: bold;
    color: red;
}


#translation #translation-comments{
   width: 940px;
   margin: 20px auto 0 auto;
   background-color: #f0eeee;
   padding: 20px 30px 20px 30px;
   border-radius: 5px;
}

#translation #translation-comments article {
    border-bottom: rgb(196, 216, 216) 1px solid;
    margin-bottom: 20px;
    padding-left: 20px;
}

#translation #translation-comments header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#translation #translation-comments header li {
    display: inline;
    margin-right: 7px;
}

#translation #translation-comments .comment-user a {
    color: #111;
    font-weight: bold;
    font-size: 14px;
}

#translation #translation-comments .comment-user a:hover {
    text-decoration: underline !important;
}

#translation #translation-comments .comment-time {
    font-size: 13px;
}

#translation #translation-comments .comment-body {
    padding: 15px 0 15px 0;
    font-size: 14px;

    overflow: auto;
    overflow-wrap: break-word;
}

#translation #translation-comments .newcomment-box {
    width: 94%;
    min-height: 110px;
    margin: 0 auto;
}

#translation #translation-comments #new-comment {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 14px;
}

#translation #translation-comments .comment-publish {
    float: right;
    background-color: #589aea;
    color: white;
    padding: 6px;
    margin-right: -22px;
    min-width: 130px;
    border-radius: 3px;
}

#translation .untranslated {
    font-size: 0.9em;
    font-style: italic;
}

#translation > header {
    text-align: center;
    margin-bottom: 20px;
}

#translation #episode-title {
    font-weight: bold;
}

#translation #filters {
    font-size: 0.9em;
    width: 1109px;
    padding-top: 20px;
    margin: 0 auto;
}

#translation #filters input {
    font-size: 10pt;
    padding: 4px 4px 4px 7px;
    width: 450px;
    border: 1px solid rgba(0,0,0,0.2);
}

#translation #filters #apply {
    background-color: #4887d2;
    color: white;
    width: 150px;
    padding: 4px;
    margin: 3px;
}

#translation #sequences textarea {
    resize: none;
}