{% verbatim %}
<template id="subtitle-card">
  <div class="subtitle-card w-box-shadow">
    <a href='{ep_url}'>
      <div class="metadata hidden">
        <p class="episode-time-ago text tiny">{ep_timeago}</p>
        <p class="title text bold">{ep_show}</p>
        <p class="episode-number text tiny">{ep_season}x{ep_num}</p>
        <p class="episode-name text">{ep_name}</p>
      </div>
      <div class="metadata loading">
        Cargando...
      </div>
      <button class="text tiny spaced-wide">IR AL EPISODIO</button>
    </a>
  </div>
</template>
{% endverbatim %}