{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block meta %}
  <meta name="robots" content="noindex">
{% endblock %}
{% block title %}Disclaimer{% endblock %}
{% block css %}
  {{ assets.css('disclaimer') }}
{% endblock %}

{% block content %}
  <div class="content limited-width">
    <div id="disclaimer">
      <h2>Disclaimer</h2>
      Subtitulamos.tv is a website of voluntary participation which doesn't profit from the contents it offers to the public. Subtitulamos.tv does not run ads nor provides users with additional perks in exchange for currency. Furthermore, Subtitulamos.tv will respond to specific notices of copyright infringement by user-generated content that may not be covered under fair use. If you wish to get in contact with us for that purpose, please email us at: <b>info@subtitulamos.tv</b>
    </div>
  </div>
{% endblock %}
