<template id="episode-properties">
  <div class="form-wrap">
    <h3>Propiedades del episodio</h3>
    <form method="POST" action="/episodes/{{episode.id}}/edit">
      <div class='form-field validated' fieldname="Temporada">
        <input id="season" type="number" class="form_input"
          name="season" value="{{ episode.season }}" required>
        <i class="fas fa-file-video"></i>
      </div>

      <div class='form-field validated' fieldname="Capítulo">
        <input id="episode" type="number" class="form_input"
          name="episode" value="{{ episode.number }}" required>
        <i class="far fa-file-video"></i>
      </div>

      <div class='form-field validated' fieldname="Nombre">
        <input type="text" name="name" class="form_input"
          value="{{ episode.name }}" required>
        <i class="fas fa-film"></i>
      </div>

      <button id="save-edit" class="text" type="submit">Guardar</button>
    </form>
  </div>
</template>
