{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Página principal{% endblock %}
{% block css %}{{ assets.css('index') }}{% endblock %}

{% block content %}
  <div class='content limited-width'>
    <div id="large-splash">
      <svg id="logo" viewBox="0 0 720 720">
        <path d="M500,480C373.919,603.693,144.292,621.974,115.091,623.822A359,359,0,0,1,0,360C0,161.178,161.178,0,360,0A358.39,358.39,0,0,1,576.516,72.38C594.276,124.682,651.193,331.67,500,480ZM456,236H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,236Zm0,104H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,340ZM564,504c101.048-137.763,87.982-313.7,81.9-362.757a359.955,359.955,0,0,1-24.222,465.966L664,688l-94.3-35.364A358.341,358.341,0,0,1,360,720a362.772,362.772,0,0,1-54.959-4.17C340.3,698.95,471.256,630.442,564,504Z"/>
      </svg>
      <p id="logo-name" class="text bold">subtitulamos.tv</p>
      <div id="main-action-container">
        <div class="social-networks">
          <a class="text" href="https://foro.subtitulamos.tv/" title="Foro" target="_blank"><i class="fab fa-forumbee"></i></a>
          <a class="text" href="https://www.facebook.com/subtitulamos.tv" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="text" href="https://twitter.com/subtitulamostv" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div id="motto">
          <h2>¡Bienvenido a <span class="text bold">subtitulamos.tv</span>!</h2>
          <p class="text small"><span class="text bold">Descarga, mejora o traduce</span> los subtítulos más actuales</p>
        </div>
        <div id="search" class="search-bar-container w-box-shadow">
          <div>
            <input id="search-field" data-search-bar-target='index-search-results' type="text" placeholder="¡Busca una serie! Por ejemplo: Westworld" autofocus autocomplete="off" />
            <button id="search-subtitles" title="Buscar"><i id="search_subtitles" class="fa fa-search" aria-hidden="true"></i></button>
          </div>
          <ul class="search-results hidden w-box-shadow" id="index-search-results"></ul>
        </div>
      </div>
    </div>
    <div id="category-navigation-list" class="navigation-list no-scroll-bar">
      <div class="navigation-item selected" id="last-completed">
        <div id="the-latest" class="text mini">LAS ÚLTIMAS...</div>
        TRADUCCIONES
      </div>
      <div class="navigation-item" id="last-uploaded">SUBIDAS</div>
      <div class="navigation-item" id="last-edited">EDICIONES</div>
      <div class="navigation-item" id="last-resynced">RESINCRONIZACIONES</div>
    </div>
    <div id="category-container" class="first-page">
      <button id="previous-page" class="subtitle-cards-navigation-chevron">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div id='subtitle-cards-wrap' class="no-scroll-bar subtitle-cards-wrap">
      </div>
      <button id="next-page" class="subtitle-cards-navigation-chevron">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>

{% include "card.twig" %}
{% endblock %}

{% block scripts %}
  {{ assets.js('index') }}
{% endblock %}
