<div class="content" id="overview">
  <h1>Visión general</h1>
  <div id="overview-grid" class="grid">
    <div id="paused" class="grid-cell collapsed w-box-shadow" data-search-path="paused">
      <h4 class="grid-cell-title">Pausadas</h4>
      <div class="reload" data-reload="paused"><i class="fas fa-sync-alt" aria-hidden="true"></i></div>
      <div class="grid-content">
        <ul>Cargando...</ul>
        <div class="pages" data-target="paused">
          <div class="page-group invisible">
            <button class="page" data-page="1"><i class="fas fa-step-backward"></i></button>
            <button class="page" data-page="previous"><i class="fas fa-chevron-left"></i></button>
          </div>
          <button class="page" data-page="next"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
    <div id="modified" class="grid-cell collapsed w-box-shadow" data-search-path="modified">
      <h4 class="grid-cell-title">Últimas modificaciones</h4>
      <div class="reload" data-reload="modified"><i class="fas fa-sync-alt" aria-hidden="true"></i></div>
      <div class="grid-content">
        <ul>Cargando...</ul>
        <div class="pages" data-target="modified">
          <div class="page-group invisible">
            <button class="page" data-page="1"><i class="fas fa-step-backward"></i></button>
            <button class="page" data-page="previous"><i class="fas fa-chevron-left"></i></button>
          </div>
          <button class="page" data-page="next"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
    <div id="last-uploads" class="grid-cell collapsed w-box-shadow" data-search-path="uploads">
      <h4 class="grid-cell-title">Últimas subidas</h4>
      <div class="reload" data-reload="uploads"><i class="fas fa-sync-alt" aria-hidden="true"></i></div>
      <div class="grid-content">
        <ul>Cargando...</ul>
        <div class="pages" data-target="uploads">
          <div class="page-group invisible">
            <button class="page" data-page="1"><i class="fas fa-step-backward"></i></button>
            <button class="page" data-page="previous"><i class="fas fa-chevron-left"></i></button>
          </div>
          <button class="page" data-page="next"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
    <div id="last-completed" class="grid-cell collapsed w-box-shadow" data-search-path="completed">
      <h4 class="grid-cell-title">Últimas traducciones</h4>
      <div class="reload" data-reload="completed"><i class="fas fa-sync-alt" aria-hidden="true"></i></div>
      <div class="grid-content">
        <ul>Cargando...</ul>
        <div class="pages" data-target="completed">
          <div class="page-group invisible">
            <button class="page" data-page="1"><i class="fas fa-step-backward"></i></button>
            <button class="page" data-page="previous"><i class="fas fa-chevron-left"></i></button>
          </div>
          <button class="page" data-page="next"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
    <div id="last-comments" class="grid-cell collapsed w-box-shadow">
      <h4 class="grid-cell-title">Últimos comentarios</h4>
      <div class="grid-content">
        <div id="comments-container" class="comments-container">
          <div @click="refresh(true)" class="reload"><i class="fas fa-sync-alt" aria-hidden="true"></i></div>
          <div id="comments-navigation-list" class="navigation-list no-scroll-bar">
            <div @click='setCommentType("subtitles")' class="navigation-item" :class='{"selected": this.commentType === "subtitles"}' id="last-uploaded">SUBTÍTULOS</div>
            <div @click='setCommentType("episodes")' class="navigation-item" :class='{"selected": this.commentType === "episodes"}' id="last-edited">EPISODIOS</div>
          </div>
          <div id="comments-spacer">
            <div class="no-comments" v-if="this.firstLoad">Cargando...</div>
            <div class="no-comments" v-else-if="comments.length == 0">No hay nada aqui en el momento</div>
            <div v-else id="comment-list">
              <comment v-for="comment in comments"
                :key="comment.id"
                :id="comment.id"
                :user="comment.user"
                :base-text="comment.text"
                :episode="comment.episode"
                :subtitle="comment.subtitle"
                :published-at="comment.published_at"
                :edited-at="comment.edited_at"
                :pinned="comment.pinned"
                @remove="remove"
                @pin="pin"
                @save="save"
              >
              </comment>
            </div>
            <div class="pages">
              <div class="page-group" :class='{"invisible": page <= 1}'>
                <button @click='firstPage' class="page"><i class="fas fa-step-backward"></i></button>
                <button class="page" @click='prevPage'><i class="fas fa-chevron-left"></i></button>
              </div>
              <button class="page" @click='nextPage' :class='{"invisible": nextPageInvisible}'><i class="fas fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
