{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block meta %}
  {# We do not want these login pages indexed #}
  <meta name="robots" content="noindex">
{% endblock %}
{% block title %}Acceso restringido{% endblock %}
{% block css %}
  {{ assets.css('restricted') }}
{% endblock %}

{% block content %}
  <div class="content">
    <i class="fa fa-ban forbidden" aria-hidden="true"></i>

    <div class='forbidden-title'>Acceso restringido</div>

    <div>
      {% if not is_logged_in %}
        Necesitas acceder a tu cuenta para poder ver esta sección.
      {% else %}
        No tienes permisos suficientes para ejecutar esta acción.
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
  window.openLogin = {% if not is_logged_in %}true{% else %}false{% endif %};
</script>
{% endblock %}
