{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block meta %}
  {# We do not want these login pages indexed #}
  <meta name="robots" content="noindex">
{% endblock %}
{% block title %}Acceso restringido{% endblock %}
{% block css %}
  {{ assets.css('restricted') }}
{% endblock %}

{% block content %}
  <div class="content">
    {% if is_logged_in and auth.user.ban %}
    <i class="fas fa-user-slash forbidden"></i>
    {% else %}
    <i class="fa fa-ban forbidden" aria-hidden="true"></i>
    {% endif %}

    <div class='forbidden-title'>Acceso {% if is_logged_in and auth.user.ban %}denegado{% else %}restringido{% endif %}</div>

    <div>
      {% if is_logged_in and auth.user.ban %}
      Tu cuenta ha sido bloqueada por incumplimiento de las normas hasta el {{ auth.user.ban.until|date('d/M/Y H:i (e)') }}. Una cuenta bloqueada no puede acceder
      a ciertas funcionalidades, como la traducción o realizar comentarios.
      {% elseif not is_logged_in %}
        Necesitas acceder a tu cuenta para poder ver esta sección.
      {% else %}
        No tienes permisos suficientes para ejecutar esta acción.
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
  window.openLogin = {% if not is_logged_in %}true{% else %}false{% endif %};
</script>
{% endblock %}
