{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Normas del sítio{% endblock %}
{% block css %}
  {{ assets.css('rules') }}
{% endblock %}

{% block content %}
  <div class="content limited-width">
    <h1>Normas del sítio</h1>
    <div id="category-navigation-list" class="navigation-list no-scroll-bar">
      <a href="/rules">
        <div class="navigation-item {% if rules_type == 'main' %}selected{% endif %}">TRADUCCIÓN</div>
      </a>
      <a href="/rules/community">
        <div class="navigation-item {% if rules_type == 'community' %}selected{% endif %}">COMUNIDAD</div>
      </a>
      <a href="/rules/upload">
        <div class="navigation-item  {% if rules_type == 'upload' %}selected{% endif %}">SUBTÍTULOS</div>
      </a>
    </div>

    {% include "rules/rules_" ~ rules_type ~ ".twig" %}
  </div>
{% endblock %}

{% block scripts %}
  {{ assets.js('rules') }}
{% endblock %}
