/*Styling for Firefox*/
@-moz-document url-prefix() {
  #tv_box_outer {
    margin-top: -40px;
  }
  #tv_box_inner {
    margin-top: -30px;
  }
  #tv_fade_out {
    margin-top: -34px;
  }
}

/*Styling for Microsoft Edge*/
@supports (-ms-ime-align: auto) {
  body {
    overflow-x: hidden;
  }
}
