/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2020 subtitulamos.tv
 */

#hammer {
  background-color: #f0eeee;
  padding: 10px;
  font-size: 0.95em;
}

.candidates {
  margin-left: 40px;
}
