/**
 * This file is covered by the AGPLv3 license, which can be found at the LICENSE file in the root of this project.
 * @copyright 2017-2018 subtitulamos.tv
 */

#hammer {
  background-color: #f0eeee;
  padding: 10px;
  font-size: 0.95em;
}

.candidates {
  margin-left: 40px;
}

.hammer {
  padding: 5px 4px 5px 4px;
  font-size: 1.2em;
  transform: rotate(80deg);
}

.hammer:hover {
  color: #ce2828;
  cursor: pointer;
  transform: rotate(120deg);
}

.hammer-user-block {
  margin-bottom: 20px;
}
