#pages {
  width: 100%;
  min-height: 40px;
  padding: 5px;
}

#prev-page {
  color: #fff;
  font-size: 1.2em;
  float: left;
  cursor: pointer;
}

#next-page {
  color: #fff;
  font-size: 1.2em;
  float: right;
  cursor: pointer;
}

#prev-page:hover,
#next-page:hover {
  text-shadow: white 0px 0px 2px;
}

.ep-show-hover .ep-add-details {
  display: none;
}

.ep-show-hover:hover .ep-add-details {
  display: block;
}

/* Styling for subtitles list
   and navigation through
   subtitles */
#category_navigation_list {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  z-index: 3;
  margin: 20px 0 40px 0;
}

#category_navigation_title {
  font-size: 14px;
  color: #a8cafd;
  font-style: italic;
  margin-bottom: 10px;
}
.category_navigation_item {
  width: 190px;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  background-color: #5493d2;
}
.category_navigation_item:hover {
  background-color: #5b9fd6;
}
.category_navigation_item:active {
  background-color: #518fce;
}
.nvbi_active {
  background-color: #3e9fff !important;
}

/*Styling for the incategory board */
#incategory_board {
  position: relative;
  width: 1000px;
  margin: 0 auto 40px auto;
  background-color: #5a93ca;
  padding: 20px 20px 12px 20px;
  border-radius: 5px;
}
#incategory_title {
  font-size: 14px;
  background-color: #518ac3;
  color: #f1fdff;
  text-align: left;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.incategory_title_filter {
  font-style: italic;
}

/* Styling for the clip info */
.clip_global_info {
  padding: 0 10px 2px 0;
  background-color: #f3f3f3;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 4;
  margin-bottom: 8px;
  height: 55px;
  vertical-align: middle;
}

.clip_global_info:hover {
  background-color: #e5fbf2;
}

.ep-show-hover:hover {
  padding: 0 10px 2px 0;
}

.clip_global_info:active {
  background-color: #ffffff;
}
.clip_downloads,
.clip_activity_since {
  text-align: center;
  line-height: 1.1;
  width: 80px;
  display: inline-block;
  padding-top: 7px;
}
.clip_downloads_times,
.clip_row_time {
  font-size: 13pt;
}
.clip_downloads_text,
.clip_row_text,
.clip_row_text_faded {
  font-size: 8pt;
}
.clip_row_text_faded {
  opacity: 0.4;
}
.visual_separator {
  display: inline-block;
  height: 33px;
  width: 3px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.ep-title-row {
  height: 50px;
  vertical-align: top;
  width: 89%;
  padding-left: 10px;
  text-align: left;
  display: inline-block;
  padding-top: 7px;
  line-height: normal;
}
.clip_global_info a {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.ep-show-hover:not(:hover) .ep-title-row {
  height: 40px;
  padding-top: 17px;
}

.ep-title {
  color: #315d88;
  font-weight: 600;
  font-size: 17px;
  display: block;
  width: 760px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ep-show-hover:hover .ep-title-row.ep-detailed .ep-title {
  color: #3b72a9;
  font-size: 15px;
  margin-top: 3px;
}
.ep-show-hover:hover .ep-title-row.ep-detailed .ep-add-details {
  display: inline-block !important;
  position: relative;
  top: -3px;
}
.ep-details {
  font-size: 10pt;
}
.ep-show-hover:hover .ep-details {
  display: inline-block !important;
}
.new_episode {
  background-color: #31c363;
  color: #fff;
  font-size: 10pt;
  display: none;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.ep-show-hover:hover .new_episode {
  display: inline-block !important;
  margin-left: 3px;
  border-radius: 3px;
  padding: 0px 5px 0px 4px;
}
.ep-new-season {
  background-color: #22b18e;
  color: #fff;
  font-size: 10pt;
  display: none;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.ep-show-hover:hover .ep-new-season {
  display: inline-block !important;
  margin-left: 3px;
  border-radius: 3px;
  padding: 0px 5px 0px 4px;
}
.ep-new-series {
  background-color: #157d6e;
  color: #fff;
  font-size: 10pt;
  display: none;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.ep-show-hover:hover .ep-new-series {
  display: inline-block !important;
  margin-left: 3px;
  border-radius: 3px;
  padding: 0px 5px 0px 4px;
}

/*Styling for reactions to
clips */
.clip_social_reactions {
  position: absolute;
  font-size: 19pt;
  text-align: right;
  z-index: 3;
  right: 40px;
  margin-top: 9px;
}
.clip_social_reactions:hover {
  z-index: 5;
}
.ep-show-hover:hover .ep-add-details {
  z-index: 2;
}
.clip_global_info:hover .clip_social_reactions {
  z-index: 5;
  opacity: 1;
}
.love_reaction {
  background-image: url(../img/heart-o.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.share_reaction {
  background-image: url(../img/share-o.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.love_reaction:hover {
  opacity: 1;
  background-image: url(../img/heart.svg);
}
.share_reaction:hover {
  opacity: 1;
  background-image: url(../img/share.svg);
}
.love_reaction:active,
.share_reaction:active {
  -webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
  filter: brightness(80%);
}
.clip_social_reactions:hover + .clip_global_info {
  background-color: #e5fbf2;
}

/* Styling for clips pages
navigation buttons */

#navigate_bottom {
  margin-top: 30px;
  padding-bottom: 20px;
}
.clips_pages_button_act {
  background-color: rgba(68, 128, 187, 1);
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.clips_pages_button_deact {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.clips_pages_button_act:hover {
  -webkit-filter: brightness(110%); /* Chrome, Safari, Opera */
  filter: brightness(110%);
}
.clips_pages_button_act:active {
  -webkit-filter: brightness(90%); /* Chrome, Safari, Opera */
  filter: brightness(90%);
}
#previous_page {
  width: 37px;
  height: 32px;
  padding-top: 8px;
  padding-right: 3px;
  border-radius: 5px;
  float: left;
}
#next_page {
  width: 35px;
  height: 32px;
  padding-top: 8px;
  padding-left: 5px;
  border-radius: 5px;
  float: right;
}
#refresh {
  display: inline-block;
  vertical-align: center;
  font-size: 10pt;
  color: #4480bb;
  cursor: pointer;
  padding-top: 10px;
}
#refresh:hover {
  -webkit-filter: brightness(110%); /* Chrome, Safari, Opera */
  filter: brightness(110%);
}
#refresh:active {
  -webkit-filter: brightness(90%); /* Chrome, Safari, Opera */
  filter: brightness(90%);
}
