.inner-content {
  box-sizing: content-box;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #e9e7e7 !important;
  position: relative;
}

.forbidden {
  font-size: 100px;
  margin: 20px;
}

.forbidden-title {
  font-size: 20px;
  text-transform: uppercase;
}
