@import 'app.css';

#show_seasons {
  padding-top: 10px;
  padding-bottom: 80px; /* Height of the footer + 150 */
  background-color: #e9e7e7 !important;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
}

.subtitle-language {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 7px;
}

.version-name {
  font-size: 12px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  min-width: 140px;
  padding: 2px;
  /* background-color: #7285a2; */
  background-color: #5592ad;
  border-radius: 2px;
  color: white;
  margin-left: 20px;
}
.download-subtitle:not(.unavailable):hover {
  background-color: #0cdc5d;
}
.download-subtitle .fa-download {
  padding-top: 9px;
  font-size: 16pt;
}
.download-subtitle a {
  color: inherit;
}

.progress_bar {
  height: 29px;
  width: 300px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
}

.progress {
  width: 100%;
  height: inherit;
}

.progress_percentage {
  float: right;
  padding-top: 3px;
  margin-right: 8px;
  vertical-align: center;
  font-size: 10pt;
  color: white;
  font-weight: 600;
}
.progress_original_subtitle {
  background-color: #dadada;
  border-radius: 3px;
}
.progress_100 {
  background-color: #33c53c;
  border-radius: 3px;
}
.progress_9099 {
  background-color: #7ac533;
  border-radius: 3px 0px 0px 3px;
}
.progress_8089 {
  background-color: #a9c533;
  border-radius: 3px 0px 0px 3px;
}
.progress_7079 {
  background-color: #bec533;
  border-radius: 3px 0px 0px 3px;
}
.progress_5069 {
  background-color: #c5b833;
  border-radius: 3px 0px 0px 3px;
}
.progress_2049 {
  background-color: #d29d2e;
  border-radius: 3px 0px 0px 3px;
}
.progress_019 {
  background-color: #d2522e;
  border-radius: 3px 0px 0px 3px;
}

.episode {
  background-color: rgb(240, 238, 238);
  padding: 8px;
  margin: 10px 0 10px 0;
}

.episode-name {
  margin-bottom: 20px;
  color: #436173;
}

.paused .progress_9099 {
  background: linear-gradient(to right, #33c53c 0%, #e08747 100%);
}
.paused .progress_100 {
  background: linear-gradient(to right, #7ac533 0%, #e08747 100%);
}
.revision-clarify {
  border-bottom: 1px dotted white;
  line-height: 16px;
}

.subtitle-action {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
  margin: 0px 0px 0px 2px;
}

.subtitle-action:not(.unavailable):hover {
  color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.unavailable:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='grey' stroke-width='6'/></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
  cursor: default;
}

.show-actions {
  font-size: 0.7em;
  display: inline-block;
  margin-left: 20px;

  i {
    padding: 5px;
  }

  [data-action="delete"] {
    color: #ff2157;
  }

  .fa-pencil {
    color: #3990af;
  }
}
