#translation {
    padding-top: 20px;
    padding-bottom: 40px;   /* Height of the footer + 150 */
    background-color: #e9e7e7 !important;
    position: relative;

    #translation-details {
        background-color: #f0eeee;
        padding-bottom: 30px;
    }

    #sequences {
        border-spacing: 0px;
        margin: 0 auto;
    }

    #sequences td {
        font-size: 13.5px;
        border-bottom: 2px solid rgb(193, 193, 193);
        height: 55px;
    }

    #sequences th {
        font-size: 13.5px;
        border-bottom: 2px solid rgb(193, 193, 193);
        height: 25px;
    }

    tr.history td {
        font-size: 12.5px;
        border-bottom: 1px dashed rgb(152, 152, 152);
        height: 35px;
        background-color: #e2e2e2;
    }

    table td:first-child {
        min-width: 45px;
        text-align: center;
        font-size: 15px;
    }

    table td.user {
        padding: 0 20px 0 20px;
        max-width: 160px;
        text-align: center;

        overflow: hidden;
        text-overflow: ellipsis;
    }

    table td.time {
        padding: 0 30px 0 30px;
        max-width: 200px;
        font-size: 14px;
        text-align: center;
    }

    table td.text {
        min-width: 325px;
        position: relative;
    }

    .text .fix-sequence {
        position: absolute;
        font-size: 0.9em;
        bottom: 6px;
        right: 22px;
        color: rgba(0,0,0,0.7);
        padding: 1px 2px 0px 3px;
        background-color: rgba(134, 134, 134, 0.2);
        border-radius: 3px;
        text-align: center;
    }

    .text .fix-sequence.warning {
        color: rgba(220, 155, 4, 0.7);
    }

    .text .fix-sequence.suggestion {
        color: rgba(0, 151, 177, 0.7);
    }

    table td.actions {
        padding: 0 10px 0 10px;
        min-width: 60px;
    }

    td.actions i {
        padding: 3px;
    }

    .fa-unlock-alt, #translation .fa-question-circle-o {
        color: #dc911c;
    }

    .fa-lock {
        color: green;
    }

    .fa-check-circle {
        color: #2e93a5;
    }


    .verified {
        background-color: #abdce0;
    }

    .locked {
        background-color: #7ccc94;

    }

    .tests {
        background: #9dd53a; /* Old browsers */
        background: -webkit-linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%);
        background: -moz-linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%);
        background: -o-linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%);
        background: linear-gradient(#93b950 0%, #80c217 24%, #90c53c 33%, #93ca31 68%, #a1d54f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .page-wrapper {
        text-align: center;
    }

    .pagination {
        display: inline-block;
    }

    .pagination li {
        list-style-type: none;
        display: inline-block;
        border-radius: 2px;
        text-align: center;
        vertical-align: top;
        height: 30px;
        width: 35px;
        line-height: 30px;
        cursor: pointer;

        color: black;
        text-decoration: none;
    }

    .pagination i {
        color: black;
        font-size: 0.7rem;
    }

    .pagination .active {
        background-color: #415b92;
        color: #fff;
    }

    .pagination li.target-page:not(.active):hover {
        background-color: #95a0c3;
    }

    .pagination li.target-page:not(.active):hover {
        color: #ffffff;
    }

    .pagination .active > a {
        color: #ffffff;
    }

    #secondary-language-name, #target-language-name, #author-filter-name {
        color: #964646
    }

    table td:last-child {
        padding-right: 10px;
        text-align: right;
    }

    .actions i {
        margin: 2px;
        font-size: 18px;
        cursor: pointer;
    }

    .actions .fa-undo {
        font-size: 16px !important;
    }

    .actions .fa-floppy-o {
        color: #009c00;
        padding-right: 0px;
    }

    .actions .fa-floppy-o.disabled {
        color: #757575;
    }

    .actions .fa-times-circle-o {
        color: #ff5858;
        padding-left: 0px;
    }

    .translatable textarea {
        display: block;
        width: 89%;
        height: 38px;
        padding: 6px 8px 5px 6px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .text {
        min-width: 375px;
        display: table-cell;
    }

    .translatable {
        cursor: pointer;
    }

    pre {
        font-family: "Open Sans";
        display: inline-block;
        margin: 0;
    }

    .line-status {
        position: absolute;
        text-align: center;
        vertical-align: middle;
        top: 12px;
        padding: 0;
        right: 0;
    }

    .line-counter {
        display: block;
        color: green;
        font-weight: bold;
    }

    .counter-warning {
        color: #e6ac00;
    }

    .counter-error {
        font-weight: bold;
        color: red;
    }


    #translation-comments{
        width: 940px;
        margin: 20px auto 0 auto;
        background-color: #f0eeee;
        padding: 20px 30px 20px 30px;
        border-radius: 5px;
    }

    #translation-comments article {
        border-bottom: rgb(196, 216, 216) 1px solid;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    #translation-comments header ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #translation-comments header li {
        display: inline;
        margin-right: 7px;
    }

    #translation-comments .comment-user a {
        color: #111;
        font-weight: bold;
        font-size: 14px;
    }

    #translation-comments .comment-user a:hover {
        text-decoration: underline !important;
    }

    #translation-comments .comment-time {
        font-size: 13px;
    }

    #translation-comments .comment-body {
        padding: 15px 0 15px 0;
        font-size: 14px;

        overflow: auto;
        overflow-wrap: break-word;
    }

    #translation-comments .newcomment-box {
        width: 94%;
        min-height: 110px;
        margin: 0 auto;
    }

    #translation-comments #new-comment {
        width: 100%;
        height: 60px;
        padding: 10px;
        font-size: 14px;
    }

    #translation-comments .comment-publish {
        float: right;
        background-color: #589aea;
        color: white;
        padding: 6px;
        margin-right: -22px;
        min-width: 130px;
        border-radius: 3px;
    }

    .untranslated {
        font-size: 0.9em;
        font-style: italic;
    }

    header {
        text-align: center;
        padding-bottom: 20px;
        font-size: 1.1em;
        margin-top: -20px;
        padding-top: 20px;
        background-color: #c7c7c7;
        text-shadow: #bbbbbb 1px 1px 1px;
    }

    #episode-title {
        font-weight: bold;
    }

    #episode-title a{
        color: #125596;
    }

    #filters {
        font-size: 0.9em;
        width: 1109px;
        padding-top: 20px;
        margin: 0 auto;
    }

    #filters input {
        font-size: 10pt;
        padding: 4px 4px 4px 7px;
        border: 1px solid rgba(0,0,0,0.2);
    }

    #filters #text-filter {
        padding-right: 20px;
    }

    #filters #apply {
        background-color: #4887d2;
        color: white;
        width: 150px;
        padding: 4px;
        margin: 3px;
    }

    #sequences textarea {
        resize: none;
    }

    #translation-locks {
        margin-left: 20px;
    }

    .comment-actions i {
        cursor: pointer;
    }

    .comment-actions .fa-times {
        color: #d25959;
    }

    .comment-body.role-tt, .comment-body.role-mod {
        font-weight: bold;
    }

    .comment-body.role-tt {
        color: green;
    }

    .comment-body.role-mod {
        color: #0074ca;
    }

    .open-other {
        float: right;
        margin-top: 3px;
    }

    #translation-details.disabled {
        filter: blur(3px);
        pointer-events:none;
    }

    #translation-disabled-warning {
        background-color: #f15757;
        position: sticky;
        top: 0;
        z-index: 2;
        color: white;
        width: 100%;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    bottom: 0px;
    }

    .time input {
        width: 84px;
        padding: 2px;
        margin: -3px;
        background-color: transparent;
    }

    .time input:hover {
        border: 1px solid darkgrey;
        cursor: text;
        background-color: rgba(228, 228, 228, 0.5);
        margin: -4px;
    }

    .time input:focus, .time input.edited {
        border: 1px solid darkgrey;
        background-color: #fff;
        margin: -4px;
    }

    #translation-tools {
        position: sticky;
        top: 0px;
        padding: 1em 0;
        text-align: center;
        z-index: 2;
        background-color: #d6d6d6;
        font-size: 15px;
    }

    #translation-tools button {
        padding: 5px 11px;
        margin: 0 5px;
        border-radius: 3px;
        background-color: #f1f1f1;
        border: 1px solid #afafaf;
    }

    #translation-tools button:hover {
        box-shadow: rgba(43, 0, 0, 0.21) 0px 0px 4px 1px;
    }

    #translation-tools .lock-tool {
        background-color: #bae8ba;
        border: 1px solid #00b10c;
    }

    #translation-tools .lock-tool:hover {
        box-shadow: rgba(0, 140, 61, 0.5) 0px 0px 4px 1px !important;
    }

    .bullseye-wrapper {
        color: gray;
        margin-left: -20px;
        cursor: pointer;
    }

    .bullseye-wrapper:hover i {
        text-shadow: 2px 2px 2px #afafaf;
    }

    .bullseye-active {
        color: #ea0d0d;
    }
}