#user-profile-wrapper {
  padding-top: 10px;
  padding-bottom: 80px; /* Height of the footer + 150 */
  background-color: #e9e7e7 !important;
}

#user-profile {
  margin: 0 auto;
  max-width: 1200px;
}

#user-profile .oneline > * {
  display: inline;
}

#user-profile .action {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#user-profile .action label {
  padding-top: 1px;
  display: inline-block;
  height: 100%;
  width: 100%;
}

#user-profile .action i {
  margin-top: 22%;
}

#user-profile .view-edit {
  margin-left: 5px;
}

#user-profile .action:hover {
  box-shadow: none;
  color: white;
}

#user-profile .view-normal:hover {
  background-color: #000;
}

#user-profile .view-edit:hover {
  background-color: #3990af;
}

#user-profile .view-ban:hover {
  background-color: #6039af;
}

#user-profile .form-group button {
  background-color: #f1a31c;
  font-weight: bold;
  text-transform: uppercase;
}

#user-profile .form-group button {
  margin-left: 380px;
  width: 10%;
}

#user-profile #time {
  display: inline-block;
  margin: 5px;
}
