#user-profile-wrapper {
   padding-top: 10px;
   padding-bottom: 80px;   /* Height of the footer + 150 */
   background-color: #e9e7e7 !important;
}

#user-profile {
   margin: 0 auto;
   max-width: 1200px;
}
