
<ol>
    <li>Inhabilitaciones:
        <ul>
            <li>Por uso de traductor automático. Es una falta grave que provoca la expulsión de la comunidad y la inhabilitación para traducir. </li>
            <li>Copiar traducciones externas. </li>
            <li>Subidas "metralleta": subidas simultáneas de varios episodios de una serie. </li>
            <li>Lenguaje ofensivo, discriminatorio contra cualquier usuario.</li>
        </ul>
    </li>

    <li>Entrar a la versión que corresponda: español-España, español-LATAM, o adaptarse a las formas de la versión que se está trabajando.</li>
    <li>Series de Tolerancia 0: en estas series no se permite ningún error grave y cometerlo puede ser motivo de borrado del aporte sin previo aviso. Si eres nuevo no es recomendable empezar en ellas.</li>
    <li>Nunca guardar una secuencia en blanco si no se sabe cómo traducirla.</li>
    <li>No se permite "adaptar" de una versión de español a la otra. Las traducciones se hacen a partir del idioma original de la serie. <br/><b>Excepción:</b> Cuando el idioma original de la serie no sea el inglés, se podrá traducir de los subtítulos que estén disponibles, siempre que sean de buena calidad y no haya grandes diferencias con los originales.</li>
    <li>Correcciones: solo se harán de existir un error. Se respetará la traducción original siempre que la frase no contenga errores gramaticales ni ortográficos y se ajuste al significado en inglés, hay más de una forma correcta de expresar lo mismo en español.</li>
    <li>Está prohibido incluir en los comentarios links de descargas, web de streaming y nombres de archivos.</li>
</ol>