
<ol>
    <li>Es imprescindible traducir viendo el episodio para tener un contexto y evitar errores de género, de número o de interpretación.</li>
    <li>Se traducirá teniendo en cuenta la ortografía y gramática del idioma español. Se recomienda tener instalado un corrector ortográfico en el navegador. No detectará todos los errores, pero será de ayuda.</li>
    <li>Siempre que hable un solo personaje y no supere los 40 caracteres, irá en una sola línea. Si es mayor a 40, se divide en dos líneas de largo similar haciendo uso del símbolo herramienta (<i class="fa fa-wrench" aria-hidden="true"></i>) que aparecerá en la caja de texto o mediante <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>F</kbd>.
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>EJEMPLO <i class="fa fa-caret-down" aria-hidden="true"></i></div>

            <div class='spoiler-content'>
                <div class='example'>
                    <header class='correct'>CORRECTO</header>
                    <p>
                        <span class='line-number'>Línea 1.</span> Como un cataclismo para el espíritu&nbsp;&nbsp;<span class='detail'>(35)</span><br/>
                        <span class='line-number'>Línea 2.</span> enemigo, atacaron al amanecer.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='detail'>(30)</span>
                    </p>
                </div>
                <div class='example'>
                    <header class='incorrect'>INCORRECTO</header>
                    <p>
                        <span class='line-number'>Línea 1.</span> Como un cataclismo para el&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='detail'>(26)</span><br/>
                        <span class='line-number'>Línea 2.</span> espíritu enemigo, atacaron al amanecer.&nbsp;&nbsp;&nbsp;<span class='detail'>(39)</span>
                    </p>
                </div>
            </div>
        </div>
    </li>
    <li>Las acotaciones, interjecciones y onomatopeyas NO se traducen cuando aparecen solas en una secuencia. Cuando forman parte de una frase, se traducirán o no según el criterio del traductor.</li>
    <li>Cuando hay diálogos en una secuencia, se marcarán con un guion, dejando un espacio entre este y la frase a continuación.</li>
    <li>Frases o palabras en otro idioma, se traducen si aparecen como texto en pantalla, a menos que sea en español y se entienda lo que dicen.</li>
    <li>Las secuencias con un solo guion bajo que aparecen en el original a traducir, indican textos en pantalla que deben traducirse.</li>
    <li>Los textos en pantalla (cuando no son diálogos en otro idioma) irán siempre en mayúsculas.
        <ul>
            <li>Textos como carteles, titulares de prensa, sin punto final.</li>
            <li>Textos como notas, mensajes de texto, etc., con la puntuación correspondiente.</li>
        </ul>
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>DETALLES <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                En determinadas circunstancias y/o como excepción, se permitirá que esa regla se incumpla según lo acordado por los traductores. Ese acuerdo debe constar en un comentario dentro de la traducción si es por un episodio en particular, y/o en el foro si es por una serie específica.
            </div>
        </div>
    </li>
    <li>Las canciones se traducen si son importantes para la trama, las canta un personaje o se considera pertinente por los traductores. Cada secuencia irá entre asteriscos y sin punto final.
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>EJEMPLO <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                <div class='example'>
                    <header class='correct'>CORRECTO</header>
                    <p>
                        <span class='line-number'>#1</span> *Ni tan arrepentido ni encantado*<br/>
                        <span class='line-number'>#2</span> *de haberte conocido, lo confieso*
                    </p>
                </div>
                <div class='example'>
                    <header class='incorrect'>INCORRECTO</header>
                    <p>
                        <span class='line-number'>#1</span> Ni tan arrepentido ni encantado<br/>
                        <span class='line-number'>#2</span> De haberte conocido, lo confieso.
                    </p>
                </div>
            </div>
        </div>
    </li>
    <li>Los números del 1 al 10 irán en letras. No se mezclan la escritura en letras y cifras en la misma frase. <i>Excepciones:</i> formatos de hora: hh:mm (NO se usa el formato a. m./p. m.), de fecha: dd mm aaaa, cuando forman parte de un lugar o de una sigla.</li>
    <li>Las citas llevarán comillas al principio y al final de las mismas, independientemente de las secuencias que abarquen.
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>EJEMPLO <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                <div class='example'>
                    <header class='correct'>CORRECTO</header>
                    <p>
                        <span class='line-number'>#1</span> Me miró a los ojos y dijo: "Sé muy bien<br/>
                        <span class='line-number'>#2</span> lo que has hecho mientras he estado ausente".
                    </p>
                </div>
                <div class='example'>
                    <header class='incorrect'>INCORRECTO</header>
                    <p>
                        <span class='line-number'>#1</span> Me miró a los ojos y dijo: "Sé muy bien"<br/>
                        <span class='line-number'>#2</span> "lo que has hecho mientras he estado ausente".
                    </p>
                </div>
            </div>
        </div>
    </li>

    <li>No se traducen los tartamudeos.
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>EJEMPLO <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                <div class='example'>
                    <header class='correct'>CORRECTO</header>
                    <p>
                        Wha-what is that? <span class='detail'>&rarr;</span> ¿Qué es eso?
                    </p>
                </div>
                <div class='example'>
                    <header class='incorrect'>INCORRECTO</header>
                    <p>
                        Wha-what is that? <span class='detail'>&rarr;</span> ¿Qué... qué es eso?
                    </p>
                </div>
            </div>
        </div>
    </li>

    <li>El adverbio solo y los pronombres demostrativos (este, aquel, ese, con sus femeninos y plurales) no llevarán tilde ni siquiera en casos de ambigüedad.</li>
    <li>Los nombres históricos, de personajes literarios o lugares, se traducen como son conocidos en español. No se traducen nombres propios.</li>
    <li>En las unidades de medida, ya sean pesos, longitudes, se hará la equivalencia al sistema métrico.
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>DETALLES <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                Si es una serie de época donde no existía el sistema métrico internacional, se decide cómo traducirlo entre los traductores de los primeros episodios de esa serie (dejarlo como está, pasarlo a leguas, brazas, etc...). A partir de ahí, se seguirá el criterio decidido.
            </div>
        </div>
    </li>
    <li>Los puntos suspensivos, solo al final de una secuencia cuando así estén indicados. De aparecer doble guion (- -), se reemplazará por puntos suspensivos.
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>EJEMPLO <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                <div class='example'>
                    <header class='correct'>CORRECTO</header>
                    <p>
                        All this is-- <span class='detail'>&rarr;</span> Todo esto es...
                    </p>
                </div>
                <div class='example'>
                    <header class='incorrect'>INCORRECTO</header>
                    <p>
                        All this is-- <span class='detail'>&rarr;</span> Todo esto es--
                    </p>
                </div>
            </div>
        </div>
    </li>
    <li>No se utilizan los símbolos: %, &, $, @, #, ni puntos suspensivos al comienzo de una secuencia. Esto provoca inconvenientes en los reproductores multimedia.</li>
    <li>Siempre estarán presentes los créditos de la página, generalmente al principio y al final del episodio. Se incluyen automáticamente, pero si no aparecieran, y hay una secuencia al menos disponible (ya sea al principio o final del episodio) irían así: www.subtitulamos.tv
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>DETALLES <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                En el caso que no se incluyan automáticamente y no haya secuencia libre donde ponerlos, comunicarse con un moderador.
            </div>
        </div>
    </li>
    <li>
        Si hay una secuencia disponible para traducir el nombre del capítulo, se pondría así: <br/>
        <div class='example'>
            Nombre de serie sin traducir 1x01<br/>
            "Título traducido"
        </div>
        <div class="spoiler-wrapper">
            <div class='spoiler-name'>DETALLES <i class="fa fa-caret-down" aria-hidden="true"></i></div>
            <div class='spoiler-content'>
                De NO haber secuencia disponible para los créditos iniciales, se puede usar esta para ese fin.
            </div>
        </div>
    </li>
</ol>