
<ol>
    <li>Han de estar, preferiblemente, en el idioma original.</li>
    <li>No se pueden subir traducciones hechas en otros sitios.
<li>Indicar siempre la procedencia del subtítulo y mantener en todo momento los créditos originales.</li>
<li>No están permitidas las subidas simultáneas de varios capítulos de una misma serie (Subidas metralleta).</li>
<li>No se permite la subida de diferentes versiones de un mismo subtítulo.</li>
<li>Se puede subir el subtítulo de un episodio por serie cada 24 horas (dos, si emitió un episodio doble).<br/>
<b>Excepción</b>: Si el episodio ya se ha traducido, se puede subir el siguiente aunque no hayan pasado 24 horas.</li>
<li>No se permite la subida de subtítulos de fuentes dudosas como TVsubs, o que tengan errores de solapamiento, líneas demasiado largas, etc.</li>
</ol>