{% import 'macros/assets.twig' as assets %}
{% extends "base.twig" %}

{% block css %}
  {{ assets.css('panel_base') }}
  {% block panel_css %}{% endblock %}
{% endblock %}

{% block content %}
<div class="content limited-width">
  {% block panel_content %}
  {% endblock %}
</div>
{% endblock %}
