{% extends "panel/panel_base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Listado de usuarios{% endblock %}
{% block panel_content %}
    <h1>Listado de usuarios</h1>
    <ul>
    {% for user in users %}
        <li><a href='/users/{{ user.id }}'><span class="id">#{{ user["id"] }}</span>{{ user.username }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
