<!DOCTYPE html>
<html>
<head>
	<base href="/">
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>			 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700">
	<link href="https://fonts.googleapis.com/css?family=Kreon:400,700" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css"/>
	<link rel="stylesheet" href="css/hint.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/browser_specific.css">
	<link rel="stylesheet" href="css/effects.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	{% block css %}{% endblock %}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/app.js" async defer></script>
	<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js" async defer></script>

	<title>{% block title %}Subtitulamos.tv{% endblock %}</title>
</head>
<body>
	{% if not auth.logged %}
		<div id="login_registry" class="hidden bounce">
			<div id="display_notification" class="error_upon_loginregistry fade_slide_in hidden">
				<span></span> <div id="close_notification">(OK!)</div>
			</div>
			<div id="close_logreg_form">CERRAR <i class="fa fa-times" aria-hidden="true"></i></div>
			<div id="login_form" class="hidden">
				<table>
					<tr class="registry_line"> 
						<td class="form_text">Usuario o correo electrónico</td>
						<td> <input id="login_username" type="text" placeholder="" class="form_input"></td>
					</tr>
					<tr class="registry_line"> 
						<td class="form_text">Contraseña</td>
						<td> <input type="password" id="login_password" placeholder="" class="form_input"></td>
					</tr>
					<tr class="registry_line"> 
						<td class="form_text"><input id="login_remember_me" type="checkbox"></td>
						<td><div id="remember_me">Recordarme en este equipo</div></td>
					</tr>
				</table>
				<div id="login_button"><div class="button sign_button">INICIAR SESIÓN</div></div>
			</div>
			<div id="register_form" class="hidden">
				<form id="fregister" action="">
					<button type="submit" style="display:none"></button> {# For javascript trickery only #}

					<table>
						<tr class="registry_line"> 
							<td class="form_text">Usuario</td>
							<td> <input type="text" id="reg_username" placeholder="Elige un nombre de usuario" class="form_input" required></td>
						</tr>
						<tr class="registry_line"> 
							<td class="form_text">Correo electrónico</td>
							<td> <input type="email" id="reg_email" placeholder="Escribe tu correo eletrónico" class="form_input" required></td>
						</tr>
						<tr class="registry_line"> 
							<td class="form_text">Contraseña</td>
							<td> <input type="password" id="reg_password" placeholder="Elige una contraseña" class="form_input" required></td>
						</tr>
						<tr class="registry_line"> 
							<td class="form_text">Repetir contraseña</td>
							<td> <input type="password" id="reg_password_confirmation" placeholder="Repite tu contraseña" class="form_input" required></td>
						</tr>
						<tr class="registry_line"> 
							<td class="form_text"><input id="reg_terms" name="accept" type="checkbox" value="true" required></td>
							<td><div id="remember_me">Acepto las <b>reglas y las condiciones generales de uso</b> de este sitio web</div></td>
						</tr>
					</table>
					<div id="register_button"><div class="button sign_button">REGISTRAR</div></div>
				</form>
			</div>
		</div>
	{% endif %}

	<div id="login_registry_fade_pan" class="hidden"></div>
	<div id="container">
		<div id="header" class="fade_slide_in">			
			<div id="social">
				<div id="facebook_background"></div>
				<a href="https://www.facebook.com/??????" target="_blank"><div class="social" id="facebook">
					<span class="hint--bottom-right hint--bounce hint--rounded" data-hint="¡Visítanos en Facebook!">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</span>
				</div></a>	
				<div id="twitter_background"></div>			
				<a href="https://twitter.com/??????" target="_blank"><div class="social" id="twitter" >
					<span class="hint--bottom hint--bounce hint--rounded" data-hint="Síguenos en Twitter">
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
					</span>
				</div></a>
			</div>		
			
			<div id="signing">
				{% if not auth.logged %}
					<div class="signing" id="login">INICIAR SESIÓN</div> 
					<div class="signing" id="register">REGISTRO</div>
				{% else %}
					<div id="user_account_manage_icon"><i class="fa fa-cog" aria-hidden="true"></i></div><div class="signing" id="user_account_manage">{{ auth.user.username }}</div> 
                    <div class="signing" id="user_upload_subtitle"><a href="/upload">SUBIR SUBTITULO</a></div>
					<div class="signing" id="user_upload_subtitle"><a href="/logout">SALIR</a></div>
				{% endif %}

				{% if feature_on('DONATIONS') %}
					<div class="signing" id="donate"><span class="hint--bottom-left hint--bounce hint--rounded hint--large" 
						data-hint="Este sitio está mantenido exclusivamente a base de donaciones">DONAR</span>
					</div>
				{% endif %}
			</div>
		</div>
		<div id="main_container">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<div id="footer_section_1">
				<div id="tv">
				 
					<div id="tv_fade_out"></div>
					<div class="tv" id="tv_box_outer"></div>
					<div class="tv" id="tv_box_inner"></div>
					<div class="tv" id="tv_sound_line_1"></div>
					<div class="tv" id="tv_sound_line_2"></div>
					<div class="tv" id="tv_sound_line_3"></div>
					<div class="tv" id="tv_sound_line_4"></div>
					<div class="tv" id="tv_sound_line_5"></div>
					<div class="tv" id="tv_sound_line_6"></div>
					<div class="tv" id="tv_sound_line_7"></div>
					<div class="tv" id="tv_sound_line_8"></div>
					<div class="tv" id="tv_sound_line_9"></div>
					<div class="tv" id="tv_sound_line_1"></div>
					<div class="tv" id="tv_button_1_outer"></div>
					<div class="tv" id="tv_button_1"></div>
					<div class="tv" id="tv_button_2_outer"></div>
					<div class="tv" id="tv_button_2"></div>
					
					<div id="footer_disclaimer">
						DMCA and Disclaimer
					</div>					
					<div id="footer_memoria">
						En memoria de Subtitulos.es (2008-2015)
					</div>
					<div id="footer_palabra">
						 DIFUNDE LA PALABRA
					</div>
				</div>
				
			</div>
			<div id="footer_section_2">
			
				<div id="useful_links">
					<div><div class="white_logo"></div> <div id="white_logo_text">SUBTITULAMOS.TV</div></div>
					<div class="social_white" id="social_white">			
						<a href="https://www.facebook.com/???" target="_blank">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</a>			
						<a href="https://twitter.com/???" target="_blank">
							<i class="fa fa-twitter-square" aria-hidden="true"></i>
						</a>
						<a href="http://foro.subtitulamos.tv" target="_blank">
							<i class="fa fa-pencil-square" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				
				<div id="website_navigator">
					<table>
					  <tr><td>Login</td>	<td>Registro</td></tr>
					  <tr><td>Lo más descargado</td>	<td>Últimas subidas</td></tr>
					  <tr><td>Últimas traducciones</td>	<td>Últimas ediciones</td> </tr>
					  <tr><td>Donaciones</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% block scripts %}{% endblock %}
</body>