{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Reglas{% endblock %}
{% block css %}
    {{ assets.css('rules') }}
{% endblock %}

{% block content %}
    <div id="rules-content">
        <div id='rules'>
            <div>
                <ul class="rule-tabs">
                    <li><a href="/rules" class="{% if rules_type == 'main' %}current{% endif %}">Normas de traducción</a></li>
                    <li><a href="/rules/community" class="{% if rules_type == 'community' %}current{% endif %}">Normas de la comunidad</a></li>
                    <li><a href="/rules/upload" class="{% if rules_type == 'upload' %}current{% endif %}">Normas de subida de subtítulos</a></li>
                </ul>
            </div>
            
            {% include "rules/rules_" ~ rules_type ~ ".twig" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ assets.js('rules') }}
{% endblock %}