{% extends "base.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="css/upload.css"/>
{% endblock %}

{% block content %}
<div id="upload">
    <h2>Subir resincronización</h2>
    <h3>{{ ep_full_name }}</h3>

    <form name="" action="" method="POST" enctype="multipart/form-data">
        {#{% for error in errors.all() %}
            <li>{{ error }}</li>
        {% endfor %}#}
        <div class="form-group">
            <label for="lang">Idioma</label> 
            <select name="lang" id="lang" class="form_input">
                <option value="none" disabled selected>Selecciona un idioma</option>
                <option value="en-en">English</option>
                <option value="es-es">Español (España)</option>
                <option value="es-lat">Español (Latinoamérica)</option>
            </select>
        </div>
        <div class="form-group">
            <label>Archivo SRT</label>
            <input type="file" name="sub" required/>
        </div>
        <div class="form-group">
            <label>Versión del vídeo</label>
            <input id="version" name="version" type="text" required="required" class="form_input">
        </div>
        <div class="form-group">
            <label>Comentarios</label>
            <textarea id="comments" name="comments" maxlength="255" cols="80" required="required" class="form_input"></textarea>
        </div>
        <div class='form-group'>
            <button type="submit" class='button'>SUBIR</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            let $newShow = $("#new-show");
            $("#showId").on("change", function(){
                let val = $(this).val();
                $newShow.parent().toggleClass("hidden", val != "NEW");
                if(val == "NEW") {
                    $newShow.focus();
                }
            })
        })
    </script>
{% endblock %}