{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Acceso denegado{% endblock %}
{% block css %}
    {{ assets.css('banned_error') }}
{% endblock %}

{% block content %}
    <div id="banned-content">
        <div id="banned">
            <h3>Acceso no permitido</h3>

            Tu cuenta ha sido bloqueada por incumplimiento de las normas. Una cuenta bloqueada no puede acceder
            a ciertas funcionalidades, como la traducción o realizar comentarios.
        </div>
    </div>
{% endblock %}