{% macro show(atype, text) %}
  {% if atype == 'success' %}
    {% set type = 'green' %}
    {% set icon = 'fa-check-circle' %}
  {% elseif atype == 'error' %}
    {% set type = 'red' %}
    {% set icon = 'fa-times-circle' %}
  {% elseif atype == 'notice' %}
    {% set type = 'blue' %}
    {% set icon = 'fa-info-circle' %}
  {% elseif atype == 'warning' or atype == 'warn' %}
    {% set type = 'yellow' %}
    {% set icon = 'fa-exclamation-triangle' %}
  {% endif %}

  <div class="global-alert {{ type }}">
    <i class="fa {{ icon }}" aria-hidden="true"></i>
    <span>{{ text|raw }}</span>
    <button class="close-alert">
      <i class="fas fa-times" aria-hidden="true"></i>
    </button>
  </div>
{% endmacro %}
